<div class="bluewallet-dashboard-fullwrap">
  <!-- Bluewallet-second-sidebar -->
  <div class="bluewallet-profile-sidebar">
    <div class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
      <div class="profile-setting-wallet">
        <div class="profile-setting">
          <div class="setting-image">
            <img src="assets/images/profile.jpg" alt="image" />
            <a class="notify-icon" href="javascript:void(0);">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span></span>
            </a>
            <div class="notification-view" style="display:none;">
              <div class="notification-view-title">
                <h1>Notiﬁcations</h1>
                <img src="assets/images/email-icon.png" />
              </div>
              <ul>
                <li>
                  <div class="notify-mesg">
                    <p>
                      <span>Dan23
                        <sup>100+</sup>
                      </span>
                      Accept your solicitude of sell</p>
                    <a href="javascript:void(0);">
                      Contact
                    </a>
                  </div>
                </li>
                <li>
                  <div class="notify-mesg">
                    <p>
                      <span>Dan23
                        <sup>100+</sup>
                      </span>
                      Accept your solicitude of sell</p>
                    <a href="javascript:void(0);">
                      Contact
                    </a>
                  </div>
                </li>
                <li>
                  <div class="notify-mesg">
                    <p>
                      Blueways informs that your received</p>
                    <a href="javascript:void(0);">
                      See
                    </a>
                  </div>
                </li>
                <li>
                  <div class="notify-mesg">
                    <p>Your paid has been conﬁrmated!</p>
                    <a href="javascript:void(0);">
                      See
                    </a>
                  </div>
                </li>
                <li class="seenotify">
                  <div class="notify-mesg">
                    <p>
                      <span>Dan23
                        <sup>100+</sup>
                      </span>
                      Accept your solicitude of sell</p>
                    <a href="javascript:void(0);">
                      Contact
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bluewallet-balance">
          <div class="balance-wallet">
            <div class="balance-count">
              <div class="bal-totle-count text-center">
                <h1>Balance</h1>
                <p>2.806600</p>
              </div>
              <div class="bal-dollar">
                <h2>880.660</h2>
                <div class="bal-exchange-dollar">
                  <select>
                    <option value="usdollar">USDollar</option>
                    <option value="usdollar1">USDollar</option>
                    <option value="usdollar2">USDollar</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wallet-eth-list">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <span class="wal-eth">ETH
                <img src="assets/images/downarrowred.png" />
              </span>
              <span class="wal-amt">435 $</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="wal-eth">BTC
                <img src="assets/images/uparrowgreen.png" />
              </span>
              <span class="wal-amt">20.000 $</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="wal-eth">XRP
                <img src="assets/images/uparrowgreen.png" />
              </span>
              <span class="wal-amt">200 $</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bluewallet Body -->
  <div class="bluewallet-body-wrap">
    <div class="admin-vault-div">
      <div class="admin-wallet-view">
        <div class="admin-wallet-searchbox">
          <div class="searchinput-group">
            <input type="text" placeholder="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <button type="button" class="waltsearchbtn">Search</button>
        </div>
        <div class="admin-wallet-viewbox">
          <div class="adminwalt-accordion" id="tablescroll">
            <ul>
              <li>
                <div class="admin-wallet-tableview">
                  <div class="idview">
                    <h1>ID</h1>
                    <span>001</span>
                  </div>
                  <div class="idview">
                    <h1>Name </h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Wallet </h1>
                    <span>02546897512564</span>
                  </div>
                  <div class="idview">
                    <h1>First Name</h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Last Name</h1>
                    <span>Johe Doe</span>
                  </div>
                  <div class="idview">
                    <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="admin-wallet-tableview">
                  <div class="idview">
                    <h1>ID</h1>
                    <span>001</span>
                  </div>
                  <div class="idview">
                    <h1>Name </h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Wallet </h1>
                    <span>02546897512564</span>
                  </div>
                  <div class="idview">
                    <h1>First Name</h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Last Name</h1>
                    <span>Johe Doe</span>
                  </div>
                  <div class="idview">
                    <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="admin-wallet-tableview">
                  <div class="idview">
                    <h1>ID</h1>
                    <span>001</span>
                  </div>
                  <div class="idview">
                    <h1>Name </h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Wallet </h1>
                    <span>02546897512564</span>
                  </div>
                  <div class="idview">
                    <h1>First Name</h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Last Name</h1>
                    <span>Johe Doe</span>
                  </div>
                  <div class="idview">
                    <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="admin-wallet-tableview">
                  <div class="idview">
                    <h1>ID</h1>
                    <span>001</span>
                  </div>
                  <div class="idview">
                    <h1>Name </h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Wallet </h1>
                    <span>02546897512564</span>
                  </div>
                  <div class="idview">
                    <h1>First Name</h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Last Name</h1>
                    <span>Johe Doe</span>
                  </div>
                  <div class="idview">
                    <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="admin-wallet-tableview">
                  <div class="idview">
                    <h1>ID</h1>
                    <span>001</span>
                  </div>
                  <div class="idview">
                    <h1>Name </h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Wallet </h1>
                    <span>02546897512564</span>
                  </div>
                  <div class="idview">
                    <h1>First Name</h1>
                    <span>John Doe</span>
                  </div>
                  <div class="idview">
                    <h1>Last Name</h1>
                    <span>Johe Doe</span>
                  </div>
                  <div class="idview">
                    <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                  </div>
                </div>
              </li>
              <li>
                  <div class="admin-wallet-tableview">
                    <div class="idview">
                      <h1>ID</h1>
                      <span>001</span>
                    </div>
                    <div class="idview">
                      <h1>Name </h1>
                      <span>John Doe</span>
                    </div>
                    <div class="idview">
                      <h1>Wallet </h1>
                      <span>02546897512564</span>
                    </div>
                    <div class="idview">
                      <h1>First Name</h1>
                      <span>John Doe</span>
                    </div>
                    <div class="idview">
                      <h1>Last Name</h1>
                      <span>Johe Doe</span>
                    </div>
                    <div class="idview">
                      <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                    </div>
                  </div>
                </li>
                <li>
                    <div class="admin-wallet-tableview">
                      <div class="idview">
                        <h1>ID</h1>
                        <span>001</span>
                      </div>
                      <div class="idview">
                        <h1>Name </h1>
                        <span>John Doe</span>
                      </div>
                      <div class="idview">
                        <h1>Wallet </h1>
                        <span>02546897512564</span>
                      </div>
                      <div class="idview">
                        <h1>First Name</h1>
                        <span>John Doe</span>
                      </div>
                      <div class="idview">
                        <h1>Last Name</h1>
                        <span>Johe Doe</span>
                      </div>
                      <div class="idview">
                        <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                      </div>
                    </div>
                  </li>
                  <li>
                      <div class="admin-wallet-tableview">
                        <div class="idview">
                          <h1>ID</h1>
                          <span>001</span>
                        </div>
                        <div class="idview">
                          <h1>Name </h1>
                          <span>John Doe</span>
                        </div>
                        <div class="idview">
                          <h1>Wallet </h1>
                          <span>02546897512564</span>
                        </div>
                        <div class="idview">
                          <h1>First Name</h1>
                          <span>John Doe</span>
                        </div>
                        <div class="idview">
                          <h1>Last Name</h1>
                          <span>Johe Doe</span>
                        </div>
                        <div class="idview">
                          <button type="button" class="kycbtn" data-toggle="modal" data-target="#kycmodal">KYC</button>
                        </div>
                      </div>
                    </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kyc-view-form">
    <div class="modal fade" id="kycmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">KYC View</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="kyc-body-content">
              <div class="kyc-form-upload">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-12">
                    <div class="selfie-documt">
                      <img src="assets/images/selfie.png">
                      <h4>selfie</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12">
                    <div class="selfie-documt">
                      <img src="assets/images/front-camera.png">
                      <h4>Front</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12">
                    <div class="selfie-documt">
                      <img src="assets/images/back-camera.png">
                      <h4>Back</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12">
                    <div class="selfie-documt">
                      <img src="assets/images/document.png">
                      <h4>selfie Document</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="closebttn" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>