<div class="bluewallet-dashboard-fullwrap">
  <!-- Dashboard Header -->

  <div class="bluewallet-body-wrap">
    <div class="letsverified">
      <div class="backlink">
        <a href="javascript:void(0);">Back</a>
      </div>
      <div class="letsverifid-center">
        <div class="choose-document">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="bluwallet-document">
                  <h1>Lets Verified!</h1>
                  <p>Pleas choose you document
                  </p>
                  <div class="choose-document-accordion">
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Passaport
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              ID-Card
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Resident Permit
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingfour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                              Driver’s License
                            </button>
                          </h5>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div>
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="doucment-bttngroup">
                      <button type="button" class="startbttn">Start</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="document-important">
                  <h1>Important</h1>
                  <p>When selecting your document to load, remember to upload to the platform the requested photos, both personal
                    and of the document to verify, completely visible to avoid registry errors.</p>
                  <div class="errormessage">
                    <h1>Error</h1>
                    <p>There’s some problem with your documents, please try to upload it again.</p>
                  </div>
                  <div class="correctmessage" style="display:none;">
                    <p>Your documents are completely upload it.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="verify-stepbystep">
              <ul>
                <li>
                  <img src="assets/images/verifiy1.png" />
                </li>
                <li>
                  <img src="assets/images/verifiy2.png" />
                </li>
                <li>
                  <img src="assets/images/verifiy3.png" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bluewallet-second-sidebar -->

  <!-- Bluewallet Body -->
  <!-- <div class="bluewallet-body-wrap">
    <div class="bluewallet-more-info">
      <a  [routerLink]="['/dashboard']">BACK</a>
      <div class="moreinfo-proof">
        <div class="proof-container">
          <h1>Let's Confirm It's You</h1>
          <h4>You'll need 1 of the ID types below to continue.</h4>
          <ul>
            <li>
              <a href="javascript:void(0);">
                Valid Passport</a>
              <label>
                <input type="file" [(ngModel)]="passportFileModel" (change)="onUploadedKycDocument($event,'passport')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <li>
              <a href="javascript:void(0);">
                National ID Card</a>
              <label>
                <input type="file" [(ngModel)]="nationalFileModel" (change)="onUploadedKycDocument($event,'nationalid')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <li>
              <a href="javascript:void(0);">
                Residence Card</a>
              <label>
                <input type="file" [(ngModel)]="residenceFileModel" (change)="onUploadedKycDocument($event,'residence')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <div class="bttn-grup bttncenter">
                <button type="button" class="infobtn1 info-continue" (click)="submitKycDocument()">Next</button>
              </div>
          </ul>

          <h4>Remember enable your camera!</h4>
          <p>Please allow your Bluewallet App Access your camera to upload camera pictures to the
            documents.</p>
          <div class="bttn-grup">
            <button type="button" class="infobtn1 info-continue">Next</button>
            <button type="button" class="infobtn1 info-continue1">Ahora No</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>-->

  <!-- Camera access -->
  <div class="camera-access-wrap" style="display: none;">
    <div class="camera-access-center">
      <div class="camera-access-body">
        <div class="cameral-close-icon">
          <button type="button" class="camera-close">×</button>
        </div>
        <div class="camera-access-content">
          <h1>Allow Camera access?</h1>
          <p>Please allow your bluewallet App access your camera to upload your ID and take a selfie.</p>
          <button type="button" class="infobtn1 info-continue1">Accept</button>
          <button type="button" class="infobtn1 denybtn">Deny</button>
        </div>
      </div>
    </div>
  </div>