<div class="bluewallet-dashboard-fullwrap">
  <!-- Dashboard Header -->

  <!-- bluewallet sidebar starts here -->
  <div class="bluewallet-profile-sidebar">
    <div class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
      <div class="profile-setting">
        <div class="setting-image">
          <img src="assets/images/profile.jpg" alt="image" />
        </div>
      </div>
      <div class="wallet-eth-list">
        <div class="select-crytocurrency-list dashboardwal-carousel blockelemtn">
          <h1>Select Your cryptocurrency</h1>
          <div class="carousel">
            <a class="carousel-item1" (click)="getBtcOrEthBalance('BTC')">
              <h1>BitCoin</h1>
              <img src="assets/images/bitcoinswipe.png" />
            </a>
            <a class="carousel-item1" (click)="getBtcOrEthBalance('ETH')">
              <h1>Ethereum</h1>
              <img src="assets/images/etheriumswipe.png" />
            </a>
            <a class="carousel-item1">
              <h1>Monero</h1>
              <img src="assets/images/moneroswipe.png" /> 
            </a>

          </div>
        </div>


      </div>
      <div class="select-your-cryptocurrency blockelemtn">
        <div class="crypto-currency-wallet">
          <h1>{{btcOrEth}} Balance</h1>
          <div class="etherum-blance">
            <h2>{{btcOrEthBalance}}</h2>
            <div class="etherum-usdolar">
                <p>{{btcOrEthUsdDollar}} USDollar</p>
                <!-- <div class="bal-exchange-dollar">
                    <select>
                        <option value="usdollar">USDollar</option>
                        <option value="usdollar1">USDollar</option>
                        <option value="usdollar2">USDollar</option>
                    </select>
                </div> -->
            </div>
        </div>
          <div class="refresh-btn">
            <a href="javascript:void(0);" (click)="getBtcOrEthBalance(btcOrEth)">
              <img src="assets/images/refresh.png" />
            </a>
          </div>
          <!-- <div class="send-receive-bttngrup">
            <button type="button" class="sendbtn">Send
              <img src="assets/images/sendicon.png" />
            </button>
            <button type="button" class="requestbtn" (click)="qrCodeModalOpenOrClose()">Request
              <img src="assets/images/receiveicon.png" />
            </button>
          </div> -->
          <div class="info">
            <a href="javascript:void(0);" class="infobtn">Information</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ends here -->

  <div class="bluewallet-body-wrap">
    <div class="letsverified">
      <div class="backlink">
        <a href="javascript:void(0);" [routerLink]="['/dashboard']">Back</a>
      </div>
      <div class="letsverifid-center">
        <div class="choose-document">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="bluwallet-document">
                  <h1>Lets Verified!</h1>
                  <p>Pleas choose you document
                  </p>
                  <div class="choose-document-accordion">
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="false" aria-controls="collapseOne">
                              Passport
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <span class="selfietext">{{passportSelfieName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file"
                                          (change)="setFileDetails('passport','passportSelfie',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file"
                                          (change)="setFileDetails('passport','passportFrontDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{passportFrontDocNames}}</span>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file"
                                          (change)="setFileDetails('passport','passportBackDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{passportBackDocsName}}</span>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <span class="selfietext">{{passportSelfieWitDocsName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file"
                                          (change)="setFileDetails('passport','passportSelfieWitDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo">
                              ID-Card
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <span class="selfietext">{{idCardSelfieName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file" (change)="setFileDetails('idcard','idCardSelfie',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file" (change)="setFileDetails('idcard','idCardFrontDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{idCardFrontDocsName}}</span>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file" (change)="setFileDetails('idcard','idCardBackDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{idCardBackDocsName}}</span>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <span class="selfietext">{{idCardSelfieWitDocsName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file"
                                          (change)="setFileDetails('idcard','idCardSelfieWitDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="false" aria-controls="collapseThree"
                              (click)="onUploadedKycDocument($event,'resident')">
                              Resident Permit
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                          data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <span class="selfietext">{{residentSelfieName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file"
                                          (change)="setFileDetails('resident','residentSelfie',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file"
                                          (change)="setFileDetails('resident','residentFrontDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{residentFrontDocsName}}</span>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file"
                                          (change)="setFileDetails('resident','residentBackDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{residentBackDocsName}}</span>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <span class="selfietext">{{residentSelfieWitDocsName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file"
                                          (change)="setFileDetails('resident','residentSelfieWitDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingfour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"
                              aria-expanded="false" aria-controls="collapsefour"
                              (click)="onUploadedKycDocument($event,'license')">
                              Driver’s License
                            </button>
                          </h5>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                          <div class="card-body">
                            <ul>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie</span>
                                  <span class="selfietext">{{licenseSelfieName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file" (change)="setFileDetails('license','licenseSelfie',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Document </span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        Front
                                        <input type="file"
                                          (change)="setFileDetails('license','licenseFrontDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{licenseFrontDocsName}}</span>
                                    </div>
                                    <div class="selfie-upload">
                                      <label>
                                        Back
                                        <input type="file"
                                          (change)="setFileDetails('license','licenseBackDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                      <span class="selfietext">{{licenseBackDocsName}}</span>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/correcttick.png">
                                  </div> -->
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0);">
                                  <span class="selfietext">Selfie with Document</span>
                                  <span class="selfietext">{{licenseSelfieWitDocsName}}</span>
                                  <div class="flexdiv">
                                    <div class="selfie-upload">
                                      <label>
                                        <input type="file"
                                          (change)="setFileDetails('license','licenseSelfieWitDocs',$event)">
                                        <img src="assets/images/uploadarrow.png">
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div class="closeicon">
                                    <img src="assets/images/closeicon.png">
                                  </div> -->
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="doucment-bttngroup">
                      <button type="button" class="startbttn" (click)="submitKycDocument()">Start</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="document-important">
                  <h1>Important</h1>
                  <p>When selecting your document to load, remember to upload to the platform the requested photos, both
                    personal
                    and of the document to verify, completely visible to avoid registry errors.</p>
                  <div class="errormessage" *ngIf="kycErrorMessageShowOrHide">
                    <h1>Error</h1>
                    <p>{{kycErrorMessage}}</p>
                  </div>
                  <div class="correctmessage" style="display:none;">
                    <p>Your documents are completely upload it.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="verify-stepbystep">
              <ul>
                <li>
                  <img src="assets/images/verifiy1.png" />
                </li>
                <li>
                  <img src="assets/images/verifiy2.png" />
                </li>
                <li>
                  <img src="assets/images/verifiy3.png" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<!-- KYC VIEW PAGE STARTS HERE -->
<div class="kycview-form">
    <div class="backlink">
      <a href="javascript:void(0);">Back</a>
    </div>
    <div class="kyc-viewform">
      <div class="kyc-view-title">
        <h1>KYC-View</h1>
      </div>
      <div class="kyc-form-upload">
        <div class="kyc-form-title">
          <h1>Passport</h1>
        </div>
        <div class="kyc-list-selfie">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
              <div class="kyc-selfie-box">
                <div class="kycbg-box">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                    <img alt="image" src="assets/images/wallet.jpg" />
                  </a>
                </div>
                <h4>Selfie</h4>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
              <div class="kyc-selfie-box">
                <div class="kycbg-box">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                    <img alt="image" src="assets/images/wallet.jpg" />
                  </a>
                </div>
                <h4>Front</h4>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
              <div class="kyc-selfie-box">
                <div class="kycbg-box">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                    <img alt="image" src="assets/images/wallet.jpg" />
                  </a>
                </div>
                <h4>Back</h4>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
              <div class="kyc-selfie-box">
                <div class="kycbg-box">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                    <img alt="image" src="assets/images/wallet.jpg" />
                  </a>
                </div>
                <h4>Selfie Document</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ENDS HERE -->


<!-- KYC VIEW MODAL STARTS HERE -->
<div class="kyc-popup">
    <div class="modal fade" id="kycview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Selfie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="kyc-view-image">
              <img src="assets/images/wallet.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ENDS HERE -->








  <!-- Bluewallet-second-sidebar -->

  <!-- Bluewallet Body -->
  <!-- <div class="bluewallet-body-wrap">
    <div class="bluewallet-more-info">
      <a  [routerLink]="['/dashboard']">BACK</a>
      <div class="moreinfo-proof">
        <div class="proof-container">
          <h1>Let's Confirm It's You</h1>
          <h4>You'll need 1 of the ID types below to continue.</h4>
          <ul>
            <li>
              <a href="javascript:void(0);">
                Valid Passport</a>
              <label>
                <input type="file" [(ngModel)]="passportFileModel" (change)="onUploadedKycDocument($event,'passport')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <li>
              <a href="javascript:void(0);">
                National ID Card</a>
              <label>
                <input type="file" [(ngModel)]="nationalFileModel" (change)="onUploadedKycDocument($event,'nationalid')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <li>
              <a href="javascript:void(0);">
                Residence Card</a>
              <label>
                <input type="file" [(ngModel)]="residenceFileModel" (change)="onUploadedKycDocument($event,'residence')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <div class="bttn-grup bttncenter">
                <button type="button" class="infobtn1 info-continue" (click)="submitKycDocument()">Next</button>
              </div>
          </ul>

          <h4>Remember enable your camera!</h4>
          <p>Please allow your Bluewallet App Access your camera to upload camera pictures to the
            documents.</p>
          <div class="bttn-grup">
            <button type="button" class="infobtn1 info-continue">Next</button>
            <button type="button" class="infobtn1 info-continue1">Ahora No</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>-->

  <!-- Camera access -->
  <div class="camera-access-wrap" style="display: none;">
    <div class="camera-access-center">
      <div class="camera-access-body">
        <div class="cameral-close-icon">
          <button type="button" class="camera-close">×</button>
        </div>
        <div class="camera-access-content">
          <h1>Allow Camera access?</h1>
          <p>Please allow your bluewallet App access your camera to upload your ID and take a selfie.</p>
          <button type="button" class="infobtn1 info-continue1">Accept</button>
          <button type="button" class="infobtn1 denybtn">Deny</button>
        </div>
      </div>
    </div>
  </div>