<div class="bluewallet-dashboard-fullwrap">
  <!-- Dashboard Header -->

  <!-- Bluewallet-second-sidebar -->

  <!-- Bluewallet Body -->
  <div class="bluewallet-body-wrap">
    <div class="bluewallet-more-info">
      <a  [routerLink]="['/dashboard']">BACK</a>
      <!-- <div class="more-info-full">
                <button type="button" class="closeicon">×</button>
                <div class="more-info-lft">
                    <h1>More Info Needed</h1>
                    <h6>We need more information to complete your profile.</h6>
                    <p>You will need verificate your cel number, a nacional identity and a selfie.</p>
                    <button type="button" class="infobtn1 info-continue">Continue</button>
                    <button type="button" class="infobtn1 info-continue1">Ahora No</button>
                </div>
                <div class="more-info-lft1">
                    <img src="assets/images/moreinfoicon.png" />
                </div>
            </div> -->
      <div class="moreinfo-proof">
        <div class="proof-container">
          <h1>Let's Confirm It's You</h1>
          <h4>You'll need 1 of the ID types below to continue.</h4>
          <ul>
            <li>
              <a href="javascript:void(0);">
                Valid Passport</a>
              <label>
                <input type="file" [(ngModel)]="passportFileModel" (change)="onUploadedKycDocument($event,'passport')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <li>
              <a href="javascript:void(0);">
                National ID Card</a>
              <label>
                <input type="file" [(ngModel)]="nationalFileModel" (change)="onUploadedKycDocument($event,'nationalid')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <li>
              <a href="javascript:void(0);">
                Residence Card</a>
              <label>
                <input type="file" [(ngModel)]="residenceFileModel" (change)="onUploadedKycDocument($event,'residence')">
                <img src="assets/images/downloadicon-clor.png">
              </label>
            </li>
            <div class="bttn-grup bttncenter">
                <button type="button" class="infobtn1 info-continue" (click)="submitKycDocument()">Next</button>
              </div>
          </ul>

          <h4>Remember enable your camera!</h4>
          <p>Please allow your Bluewallet App Access your camera to upload camera pictures to the
            documents.</p>
          <div class="bttn-grup">
            <button type="button" class="infobtn1 info-continue">Next</button>
            <button type="button" class="infobtn1 info-continue1">Ahora No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Camera access -->
<div class="camera-access-wrap" style="display: none;">
  <div class="camera-access-center">
    <div class="camera-access-body">
      <div class="cameral-close-icon">
        <button type="button" class="camera-close">×</button>
      </div>
      <div class="camera-access-content">
        <h1>Allow Camera access?</h1>
        <p>Please allow your bluewallet App access your camera to upload your ID and take a selfie.</p>
        <button type="button" class="infobtn1 info-continue1">Accept</button>
        <button type="button" class="infobtn1 denybtn">Deny</button>
      </div>
    </div>
  </div>
</div>