<div class="bluewallet-dashboard-fullwrap">

    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <perfect-scrollbar class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
            <div class="profile-setting-wallet">
                <div class="profile-setting">
                    <div class="setting-image">
                        <img src="assets/images/profile.jpg" alt="image" />
                        <a class="notify-icon" href="javascript:void(0);">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                            <span></span>
                        </a>
                        <div class="notification-view" style="display:none;">
                            <div class="notification-view-title">
                                <h1>Notiﬁcations</h1>
                                <img src="assets/images/email-icon.png" />
                            </div>
                            <ul>
                                <li>
                                    <div class="notify-mesg">
                                        <p>
                                            <span>Dan23
                                                <sup>100+</sup>
                                            </span>
                                            Accept your solicitude of sell</p>
                                        <a href="javascript:void(0);">
                                            Contact
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notify-mesg">
                                        <p>
                                            <span>Dan23
                                                <sup>100+</sup>
                                            </span>
                                            Accept your solicitude of sell</p>
                                        <a href="javascript:void(0);">
                                            Contact
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notify-mesg">
                                        <p>
                                            Blueways informs that your received</p>
                                        <a href="javascript:void(0);">
                                            See
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notify-mesg">
                                        <p>Your paid has been conﬁrmated!</p>
                                        <a href="javascript:void(0);">
                                            See
                                        </a>
                                    </div>
                                </li>
                                <li class="seenotify">
                                    <div class="notify-mesg">
                                        <p>
                                            <span>Dan23
                                                <sup>100+</sup>
                                            </span>
                                            Accept your solicitude of sell</p>
                                        <a href="javascript:void(0);">
                                            Contact
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bluewallet-balance">
                    <div class="balance-wallet">
                        <div class="balance-count">
                            <div class="bal-totle-count">
                                <h1>Balance</h1>
                                <p>2.806600</p>
                            </div>
                            <div class="bal-dollar">
                                <h2>880.660</h2>
                                <div class="bal-exchange-dollar">
                                    <select>
                                        <option value="usdollar">USDollar</option>
                                        <option value="usdollar1">USDollar</option>
                                        <option value="usdollar2">USDollar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="income-expense">
                            <div class="incoem-expense-value">
                                <div class="income-contet">
                                    <h4>Income</h4>
                                    <p>3.2767</p>
                                </div>
                                <div class="income-icon">
                                    <img src="assets/images/income.png" />
                                </div>
                            </div>
                            <div class="incoem-expense-value">
                                <div class="income-contet">
                                    <h4>Expense</h4>
                                    <p>3.2767</p>
                                </div>
                                <div class="income-icon">
                                    <img src="assets/images/income.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bluewallet-card">
                <div class="card-details">
                    <ul>
                        <li>
                            <a class="active" href="javascript:void(0);">
                                <span class="card-view bluewaycard"></span>
                                <!-- <img src="images/blueway-card.png" /> -->
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="card-view bluewaycard1"></span>
                                <!-- <img src="images/blueway-card1.png" /> -->
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="card-view bluewaycard2"></span>
                                <!-- <img src="images/blueway-card1.png" /> -->
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="add-request-card">
                    <a href="javascript:void(0);">
                        <span>Request Card</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="wallet-eth-list">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">ETH
                                <img src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">435 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTC
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">20.000 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTW
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">XRP
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </perfect-scrollbar>

    </div>
    <!-- Bluewallet Body -->
    <div class="bluewallet-body-wrap">
        <div class="blue-body-div">
            <div class="wallet-dailyupdate">
                <ul class="row">
                    <li class="col-lg-2 col-md-2 col-xs-12">
                        <h4>Balance</h4>
                        <div class="blue-value">
                            <p>2.806600</p>
                            <button type="button" class="bluedaily-btn">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>15%</button>
                        </div>
                        <div class="blue-value-dollar">
                            <h4>880.660</h4>
                            <p>USDollar</p>
                        </div>
                    </li>

                    <li class="col-lg-2 col-md-2 col-xs-12">
                        <h4 class="todaytit">Today</h4>
                        <p class="todayvalue">+ 0.02</p>
                    </li>
                    <li class="col-lg-2 col-md-2 col-xs-12">
                        <h4 class="todaytit">Week</h4>
                        <p class="todayvalue">+ 0.999</p>
                    </li>
                    <li class="col-lg-2 col-md-2 col-xs-12">
                        <h4 class="todaytit">Month</h4>
                        <p class="todayvalue">+ 1.908</p>
                    </li>
                    <li class="col-lg-2 col-md-2 col-xs-12" style="display: none;">
                        <div class="complete-profile">
                            <div class="profile-comp">
                                <div class="profile-content">
                                    <h1>Complete Your Profile</h1>
                                    <p>Complete your profile today to start using your wallet successfully</p>
                                    <button type="button" class="cntinuebtn">Continue</button>
                                </div>
                                <div class="profile-content-logo">
                                    <img src="assets/images/bluewallet-logo.png" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bluewallet-search-daily">
                <div class="search-dailymonth">
                    <input type="text" placeholder="Search">
                    <ul class="search-mandory-list">
                        <li class="monthlist" (click)="showOrHideMonthList = !showOrHideMonthList">
                            <a class="dropdown-toggle1">{{selectedMonth}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-list-search" style="display: block;" *ngIf="showOrHideMonthList">
                                <li *ngFor="let month of monthArray" (click)="selectedMonth = month;getChartDetails()">
                                    <a>{{month}}</a>
                                </li>

                            </ul>
                        </li>
                        <!-- <li (click)="showOrHideAmountMode = !showOrHideAmountMode">
                            <a (click)="selectedAmountMode = 'All'">All
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <a (click)="selectedAmountMode = 'Received'">Received 
                                <i class="fa fa-angle-down" aria-hidden="true"></i> 
                            </a>
                            <a (click)="selectedAmountMode = 'Pending'">Pending
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </li> -->



                        <li class="ethbtclist" (click)="showOrHideAmountMode = !showOrHideAmountMode">
                            <a class="dropdown-toggle2">{{selectedAmountMode}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-list-search2" style="display: block;" *ngIf="showOrHideAmountMode">
                                <li (click)="selectedAmountMode = 'All';getChartDetails()">
                                    <a>All</a>
                                </li>
                                <li (click)="selectedAmountMode = 'Received';getChartDetails()">
                                    <a>Received</a>
                                </li>
                                <li (click)="selectedAmountMode = 'Paid';getChartDetails()">
                                    <a>Paid</a>
                                </li>
                                <!-- <li>
                                        <a href="javascript:void(0);">XRP</a>
                                    </li> -->
                            </ul>
                        </li>




                        <li class="ethbtclist" (click)="showOrHideCryptoType = !showOrHideCryptoType">
                            <a class="dropdown-toggle2">{{selectedCurrencyType}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-list-search2" style="display: block;" *ngIf="showOrHideCryptoType">
                                <li (click)="selectedCurrencyType = 'ETH';getChartDetails()">
                                    <a>ETH</a>
                                </li>
                                <li (click)="selectedCurrencyType = 'BTC';getChartDetails()">
                                    <a>BTC</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">BTW</a>
                                </li>
                                <!-- <li>
                                    <a href="javascript:void(0);">XRP</a>
                                </li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="graph-activity-wrap">
                <div class="graph-activy-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="graph-history-title">
                                <h1>Graph History</h1>
                                <div class="graph-history">
                                    <!-- <div id="chart_div" style="width: 100%; height: 100%;"></div> -->
                                    <div style="width: 100%; height: 100%;">
                                        <!-- <canvas id="chart"></canvas> -->
                                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                            [options]="lineChartOptions" [colors]="lineChartColors"
                                            [legend]="lineChartLegend" [chartType]="lineChartType"
                                            [plugins]="lineChartPlugins">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="graph-history-title">
                                <h1>Activity</h1>
                            </div>
                            <div class="graph-activiy">
                                <perfect-scrollbar class="graph-activy-list-box" id="activyscroll">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="activity-list">
                                                    <div class="activy-paid">
                                                        <div class="activy-icon">
                                                            <img src="assets/images/paid.png" />
                                                        </div>
                                                        <div class="activy-paid-text">
                                                            <h1>Paid</h1>
                                                        </div>
                                                    </div>
                                                    <div class="activiy-count">
                                                        <span>-60,5.00</span>
                                                        <p>Feb 23, 2019</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0);">
                                                <div class="activity-list">
                                                    <div class="activy-paid">
                                                        <div class="activy-icon">
                                                            <img src="assets/images/income.png" />
                                                        </div>
                                                        <div class="activy-paid-text">
                                                            <h1>Received</h1>
                                                            <p>Receipt #: 5eYH5677EH2wha7</p>
                                                        </div>
                                                    </div>
                                                    <div class="activiy-count">
                                                        <span>-60,5.00</span>
                                                        <p>Feb 22, 2019</p>
                                                        <span class="time">11:05</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="activity-list">
                                                    <div class="activy-paid">
                                                        <div class="activy-icon">
                                                            <img src="assets/images/paid.png" />
                                                        </div>
                                                        <div class="activy-paid-text">
                                                            <h1>Paid</h1>
                                                        </div>
                                                    </div>
                                                    <div class="activiy-count">
                                                        <span>-60,5.00</span>
                                                        <p>Feb 23, 2019</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="activity-list">
                                                    <div class="activy-paid">
                                                        <div class="activy-icon">
                                                            <img src="assets/images/paid.png" />
                                                        </div>
                                                        <div class="activy-paid-text">
                                                            <h1>Paid</h1>
                                                        </div>
                                                    </div>
                                                    <div class="activiy-count">
                                                        <span>-60,5.00</span>
                                                        <p>Feb 23, 2019</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moneitation-wrap">
                <div class="moneitation-box">
                    <div class="moneitation-view-top">
                        <h1>Monetization</h1>
                        <div class="moneit-input-group">
                            <div class="inputtype-moneit">
                                <input type="text" placeholder="COP">
                                <span>Min. 0.0124</span>
                            </div>
                            <div class="inputtype-moneit">
                                <input type="text" placeholder="ETH">
                                <span>Min. 0.0124</span>
                            </div>
                        </div>
                    </div>
                    <div class="moneitation-body">
                        <div class="moneitation-body-flt">
                            <div class="moneitaion-pricecontent">
                                <p>Remember verify the amount to transfer. Once the transfer its done, there's not
                                    possibility
                                    of return.</p>
                                <ul>
                                    <li> ETH price:
                                        <span>347,52 $</span>
                                    </li>
                                    <li> BTC price:
                                        <span>347,52 $</span>
                                    </li>
                                    <li> BTW price:
                                        <span>347,52 $</span>
                                    </li>
                                    <!-- <li> XRP price:
                                        <span>347,52 $</span>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="monetize-bttn">
                                <button type="button" class="monetizebtn">Monetize</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>