<div class="bluewallet-dashboard-fullwrap">
    <!-- Dashboard Header -->

    <!-- Bluewallet-second-sidebar -->

    <!-- Bluewallet Body -->
    <div class="bluewallet-body-wrap">
        <div class="bluewallet-homeaddress">
            <div class="homeaddress-title">
                <h1>Home Address</h1>
            </div>
            <div class="homeaddress-body">
                <form [formGroup]="homeAddressForm">
                    <div class="homeaddress-center-box">
                        <div class="address-search-area">
                            <p>This information is only used to help us verify</p>
                            <!-- <div class="address-searchbx">
                                <input type="text" placeholder="Home Address">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div> -->
                            <div class="search-related-items">
                                <div class="form-group">
                                    <input type="text" placeholder="Address Line 1 your indetity"
                                        formControlName="addressLine1">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Address Line 2" formControlName="addressLine2">
                                </div>
                                <div class="form-group">
                                    <!-- <input type="text" placeholder="City / Town / Village"> -->
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <div class="selectgroup-list">
                                                    <select formControlName="city">
                                                        <option value="1">City</option>
                                                        <option value="city">City</option>
                                                        <option value="city">City</option>
                                                        <option value="city">City</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <div class="selectgroup-list">
                                                    <select formControlName="state">
                                                        <option value="1">State</option>
                                                        <option value="State">State</option>
                                                        <option value="State">State</option>
                                                        <option value="State">State</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <div class="selectgroup-list">
                                                    <select formControlName="country">
                                                        <option value="1">Country</option>
                                                        <option value="Country">Country</option>
                                                        <option value="Country">Country</option>
                                                        <option value="Country">Country</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Postal code" formControlName="postalCode">
                                </div>
                                <!-- <ul>
                                    <li>
                                        <a href="javascript:void(0);">Address Line 1 your indetity</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Address Line 2</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span>City</span>
                                            <span>Town</span>
                                            <span>Village</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span>State</span>
                                            <span>Region</span>
                                            <span>Provice</span>
                                            <span>Country</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Postal Code</a>
                                    </li>
                                </ul> -->
                            </div>
                            <div class="address-send-box">
                                <button type="button" class="addressend" (click)="moveToProfileDetails()">Send</button>
                                <div class="address-termscond">
                                    <p>When you "Sent", you accept</p>
                                    <p>
                                        <a href="javascript:void(0);">Terms of Service</a> &amp;
                                        <a href="javascript:void(0);">Politic and Privacy</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- STARTED -->
                        <div *ngIf="profileAndCountryShowOrHide">
                            <div class="address-search-area">
                                <h1>Country of Residence</h1>
                                <p>Digital currency are only available in select countries</p>
                                <div class="searchbox-next">
                                    <div class="search-option-box">
                                        <input type="text" placeholder="search" formControlName="countrySearch">
                                        <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                                    </div>
                                    <button type="button" class="create-walbtn">Next</button>
                                </div>
                            </div>
                            <div class="address-search-area">
                                <h1>Profile</h1>
                                <p>We need this to verify your identify, in order for you to use this improved feature.
                                    It
                                    should
                                    only take a couple of minutes.</p>
                                <div class="address-profile-list">
                                    <div class="form-group">
                                        <input type="text" placeholder="First Name" formControlName="firstName">
                                        <button type="button" class="closeicon">×</button>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Middle Name" formControlName="middleName">
                                        <button type="button" class="closeicon">×</button>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Last Name" formControlName="lastName">
                                        <button type="button" class="closeicon">×</button>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Birthday" formControlName="dateOfBirth">
                                        <button type="button" class="closeicon">×</button>
                                    </div>
                                    <!-- <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <button type="button" class="closeicon">×</button>
                                            First Name</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <button type="button" class="closeicon">×</button>
                                            Last Name</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <button type="button" class="closeicon">×</button>
                                            Birthday</a>
                                    </li>
                                </ul> -->
                                </div>
                                <div class="address-send-box">
                                    <button type="button" class="addressend"
                                        (click)="addHomeAddressForm()">Next</button>
                                </div>
                            </div>
                            <!-- ENDED -->

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>