<div class="bluewallet-dashboard-fullwrap">
  <!-- Dashboard Header -->
 
  <!-- Bluewallet-second-sidebar -->
  
  <!-- Bluewallet Body -->
  <div class="bluewallet-body-wrap">
      <div class="bluewallet-homeaddress">
          <div class="homeaddress-title">
              <h1>Home Address</h1>
          </div>
          <div class="homeaddress-body">
              <div class="homeaddress-center-box">
                  <div class="address-search-area">
                      <p>This information is only used to help us verify</p>
                      <div class="address-searchbx">
                          <input type="text" placeholder="Home Address">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
                      <div class="search-related-items">
                          <ul>
                              <li>
                                  <a href="javascript:void(0);">Address Line 1 your indetity</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Address Line 2</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <span>City</span>
                                      <span>Town</span>
                                      <span>Village</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <span>State</span>
                                      <span>Region</span>
                                      <span>Provice</span>
                                      <span>Country</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Postal Code</a>
                              </li>
                          </ul>
                      </div>
                      <div class="address-send-box">
                          <button type="button" class="addressend">Send</button>
                          <div class="address-termscond">
                              <p>When you "Sent", you accept</p>
                              <p><a href="javascript:void(0);">Terms of Service</a> &amp; <a
                                      href="javascript:void(0);">Politic and Privacy</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="address-search-area">
                      <h1>Country of Residence</h1>
                      <p>Digital currency are only available in select countries</p>
                      <div class="searchbox-next">
                          <div class="search-option-box">
                              <input type="text" placeholder="search">
                              <i class="fa fa-search" aria-hidden="true"></i>
                          </div>
                          <button type="button" class="create-walbtn">Next</button>
                      </div>
                  </div>
                  <div class="address-search-area">
                      <h1>Profile</h1>
                      <p>We need this to verify your identify, in order for you to use this improved feature. It
                          should only take a couple of minutes.</p>
                      <div class="address-profile-list">
                          <ul>
                              <li>
                                  <a href="javascript:void(0);">
                                      <button type="button" class="closeicon">×</button>
                                      First Name</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <button type="button" class="closeicon">×</button>
                                      Last Name</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <button type="button" class="closeicon">×</button>
                                      Birthday</a>
                              </li>
                          </ul>
                      </div>
                      <div class="address-send-box">
                          <button type="button" class="addressend">Next</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

