<div class="login-body-bg">
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark wow fadeInDown" data-wow-duration="0.8s">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/bluewallet-logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Coinways</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">To buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/api']">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#loginContactUs"
                (click)="contactUsForm.reset()">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-btn loginlink" [routerLinkActive]="['active']"
                [routerLink]="['/createwallet']">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="login-form-wraper">
    <div class="center-form-login">
      <div class="loging-form-center">
        <div class="login-form-div">
          <form [formGroup]="loginForm" *ngIf="loginShowOrHide">
            <h1>{{loginOrForgot}}</h1>
            <div class="form-group">
              <input type="text" placeholder="Email" formControlName="email">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="validationError" *ngIf="loginForm.get('email').errors && loginForm.get('email').touched">
                <span class="clrred" *ngIf="loginForm.get('email').errors.required">
                  Email is required
                </span>
                <span class="clrred" *ngIf="loginForm.get('email').errors.pattern">
                  Email is not valid
                </span>
              </span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" formControlName="password"
                (keydown.enter)="onGetAccessToken()">
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              <span class="validationError"
                *ngIf="loginForm.get('password').errors && loginForm.get('password').touched">
                <span class="clrred" *ngIf="loginForm.get('password').errors.required">
                  Password is required
                </span>
              </span>
            </div>
            <div class="form-group text-center">
              <button type="button" class="loginbtn" (click)="onGetAccessToken()">Login</button>
            </div>
            <div class="form-group">
              <a class="forgotpassword"
                (click)="forgotPasswordClicked()">Did you
                forgot your password?
              </a>
              <a class="forgotpassword d-flex resend-email"
                (click)="resendEmailClicked()">
                Resend Email Verification Link
              </a>
            </div>
            <div class="form-group text-center">
              <button type="button" class="create-walbtn" [routerLink]="['/createwallet']">Create Wallet</button>
            </div>
          </form>
          <!-- FORGOT PASSWORD FORM STARTS HERE -->
          <form *ngIf="forgotPasswordShowOrHide">
            <h1>
              <h1>{{loginOrForgot}}</h1>
            </h1>
            <div class="form-group">
              <input type="text" placeholder="Email" name="forgotEmail" [(ngModel)]="forgotPasswordEmail">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="form-group text-center">
              <button type="button" class="loginbtn" (click)="forgotPassword()">Send</button>
              <a class="forgotpassword" (click)="showForgotPassword()">Back to login</a>
            </div>


          </form>
          <!-- ENDS HERE -->
          <!-- VERFICATION EMAIL STARTS HERE -->
          <form *ngIf="resendEmailShowOrHide" class="verify-email">
            <h1>
              <h1>Resend Email Verification</h1>
            </h1>


            <p>Enter your registered email address below. Don't forget to check your spam folder</p>
            <div class="form-group">
              <input type="text" placeholder="Email" name="resendEmail" [(ngModel)]="resendEmail">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="form-group text-center">
              <button type="button" class="loginbtn" (click)="resendVerificationEmail()">Send Email</button>
              <a class="forgotpassword" (click)="showForgotPassword()">Back to login</a>
            </div>


          </form>
          <!-- ENDS HERE -->

        </div>
      </div>
      <div class="login-contact-bot">
        <div class="login-bottom-dv">
          <h1>We are here to help you</h1>
          <div class="login-contact-group">
            <p>Support is a few steps away from you. </p>
            <p>You can get an immediate answer to your question.</p>
            <button type="button" class="dirctcontactbtn">Contact
              <img src="assets/images/helpicon1.png">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="login-help">
  <img src="assets/images/helpicon.png">
</div>
<div class="scrollTop">
  <a href="javascript:void(0);">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </a>
</div>

<!-- Loginpopup-->
<div class="send-email-login" style="display:none;">
  <div class="email-login">
    <div class="login-verify-email">
      <img src="assets/images/login-email-icon.png" />
      <p>We’ll send you a email, to show you how to take back your password.</p>
      <div class="loginimg">
        <img src="assets/images/loginpopupimg.png" />
      </div>
    </div>
  </div>
</div>

<!-- OTP verify -->
<div class="otpverfiy-wrap" *ngIf="otpModalShowOrHide">
  <div class="otpmodal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <h1>verify Account</h1>
        </div>
        <div class="modal-body">
          <div class="otp-imgg">
            <img src="assets/images/tick-email.png">
          </div>
          <div class="optcont">
            <p>Enter the 6 digit code we sent you via email to continue</p>
          </div>
          <div class="otp-form">
            <form class="otp-inputgroup">
              <input type="text" name="otpTextName" placeholder="Enter OTP" [(ngModel)]="otp"
                (keypress)="checkOtpLength()" autocomplete="off">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="otpverbtn" (click)="onVerifyOtp()">Verify</button>
          <a class="resendotp" href="javascript:void(0);" (click)="login()">Resend OTP</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="email-inbox-wrap" style="display: block;">
  <div class="email-inbox-modal">
    <div class="email-inbox-box">
      <div class="inbox-box">
        <img src="assets/images/emailinboxicon.png" /> 
        <h2>Check Your Inbox...</h2>
        <a href="javascript:void(0);">JohnDoe@gmail.com</a>
        <p>search an email of BlueWallet And click the link of verification to complete the configuration of your
          Wallet.</p>
      </div>
      <div class="goto-email">
        <button type="button" class="gotemailbtn" (click)="goToMailPage()">Go to Email</button>
        <button type="button" class="checkitlaterbtn disable">Check It Later</button>
      </div>
    </div>
  </div>
</div> -->

<!-- CONTACT US MODAL STARTS HERE -->
<div class="api-key-form">
  <div class="modal fade" id="loginContactUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <img src="/assets/images/bluwallet-logo.png">
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #contactUsModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="apikey-form-body">
            <h1>Contact Us</h1>
            <p class="text-left">Fill the contact form for specialized services that Coinways can help you with,
              perfect for institutions
              and complanies.
            </p>
            <form [formGroup]="contactUsForm">
              <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name">
                <span class="validationError"
                  *ngIf="contactUsForm.get('name').errors && contactUsForm.get('name').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('name').errors.required">Name is required.</span>

                </span>
                <span>Your name or that of your organization.</span>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email">
                <span class="validationError"
                  *ngIf="contactUsForm.get('email').errors && contactUsForm.get('email').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('email').errors.required">Email is required.</span>
                  <span class="clrred" *ngIf="contactUsForm.get('email').errors.pattern">Email is not valid.</span>

                </span>
              </div>
              <div class="form-group">
                <label>URL</label>
                <input type="text" formControlName="url">
                <span class="validationError"
                  *ngIf="contactUsForm.get('url').errors && contactUsForm.get('url').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('url').errors.required">Url is required.</span>

                </span>
                <span>URL of your website</span>
              </div>

              <div class="form-group">
                <label>Description</label>
                <input type="text" formControlName="description">
                <span class="validationError"
                  *ngIf="contactUsForm.get('description').errors && contactUsForm.get('description').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('description').errors.required">Description is
                    required.</span>

                </span>
                <span>A brief description of your organization</span>
              </div>
              <div class="form-group-termscondition">
                <h1>Terms and Conditions</h1>
                <div class="checkbox-list">
                  <input type="checkbox" id="checkbox2" formControlName="termsAndConditions">
                  <label for="checkbox2">
                    I accept the terms and conditions
                  </label>
                </div>
                <div class="accept-content-read">
                  <div class="accept-cont-para">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut
                      laoreet dolore magna aliquam erat volutpat. tincidunt ut laoreet dolore magna aliquam erat
                      volutpat.
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-bttn-group">
                <button type="button" class="acceptbttn applyforbtn"
                  (click)="onSubmitContactUsDetails()">Request</button>
                <button type="button" class="acceptbttn applyforcancelbtn"
                  (click)="closeContactUsModal()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>