<div class="dashboard-header">
    <div class="dash-bluewallet-wrap">
        <div class="dash-header-logo">
            <a href="javascript:void(0);">
                <img src="assets/images/dashboard-logo.png" alt="logo" />
            </a>
        </div>
        <div class="dash-bluewallet-menu">
            <perfect-scrollbar class="sidemenu-scroll" id="boxscroll">
                <ul>
                    <!-- USER PROFILE -->
                    <li>
                        <a class="" [routerLinkActive]="['active']" [routerLink]="['/profile']" (click)="profileSelected()">
                            <span class="menu-link dashboardlink"></span>
                        </a>
                    </li>
                    <!-- DASHBOARD -->
                    <li>
                        <a class="" [routerLinkActive]="['active']" [routerLink]="['/dashboard']"
                            (click)="dashboardSelected()">
                            <span class="menu-link dashboardlink1"></span>
                        </a>


                    </li>
                    <!-- CARD -->
                    <li>
                        <a class="" [routerLinkActive]="['active']" [routerLink]="['/card']" (click)="cardSelected()">
                            <span class="menu-link dashboardlink2"></span>
                        </a>

                    </li>
                    <!-- VAULT -->
                    <li>
                        <a class="" [routerLinkActive]="['active']" [routerLink]="['/vault']" (click)="vaultSelected()">
                            <span class="menu-link dashboardlink3"></span>
                        </a>

                    </li>
                    <!-- BUY AND SELL -->
                    <li>
                        <a class="" [routerLinkActive]="['active']" [routerLink]="['/buyandsell']"
                            (click)="buyAndSellSelected()">
                            <span class="menu-link dashboardlink4"></span>
                        </a>
                    </li>

                </ul>
            </perfect-scrollbar>
        </div>
        <div class="signout">
            <a  (click)="logOut()">
                <img src="assets/images/signout.png" /> Sign Off</a>
        </div>
    </div>
</div>