<div class="dashboard-header">
    <div class="dash-bluewallet-wrap">
        <div class="dash-header-logo">
            <a href="javascript:void(0);">
                <img src="assets/images/dashboard-logo.png" alt="logo" />
            </a>
        </div>
        <div class="dash-bluewallet-menu">
            <perfect-scrollbar class="sidemenu-scroll" id="boxscroll">
                <ul>
                    <!-- USER PROFILE -->
                    <li>
                        <a [ngClass]="{'active':profileActive}" [routerLink]="['/profile']"
                            (click)="activateSideBar('profile')">
                            <span class="menu-link dashboardlink"></span>
                        </a>
                    </li>
                    <!-- DASHBOARD -->
                    <li>
                        <a [ngClass]="{'active':dashboardActive}" [routerLink]="['/dashboard']" id="dashboardId" 
                            (click)="activateSideBar('dashboard')">
                            <span class="menu-link dashboardlink1"></span>
                        </a>


                    </li>
                    <!-- CARD -->
                    <li *ngIf="roleName == 'user'">
                        <a [ngClass]="{'active':cardActive}" [routerLink]="['/card']" (click)="activateSideBar('card')">
                            <span class="menu-link dashboardlink2"></span>
                        </a>

                    </li>

                    <li *ngIf="roleName == 'admin'">
                        <a [ngClass]="{'active':userListActive}" [routerLink]="['/admin-user-list']"
                            (click)="activateSideBar('userlist')">
                            <span class="menu-link dashboardlink2"></span>
                        </a>

                    </li>
                    <!-- VAULT -->
                    <li>
                        <a [ngClass]="{'active':vaultActive}" [routerLink]="['/vault']"
                            (click)="activateSideBar('vault')">
                            <span class="menu-link dashboardlink3"></span>
                        </a>

                    </li>
                    <!-- BUY AND SELL -->
                    <li>
                        <a [ngClass]="{'active':buyAndSellActive}" [routerLink]="['/buyandsell']"
                            (click)="activateSideBar('buyandsell')">
                            <span class="menu-link dashboardlink4"></span>
                        </a>
                    </li>

                </ul>
            </perfect-scrollbar>
        </div>
        <div class="signout">
            <a (click)="logOut()">
                <img src="assets/images/signout.png" /> Sign Off</a>
        </div>
    </div>
</div>