<div class="bluewallet-dashboard-fullwrap">
        <!-- Dashboard Header -->
    
        <!-- Bluewallet-second-sidebar -->
        <div class="bluewallet-profile-sidebar">
            <perfect-scrollbar class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
                <div class="profile-setting">
                    <div class="setting-image">
                        <img src="assets/images/profile.jpg" alt="image" />
                    </div>
                </div>
                <div class="wallet-eth-list">
                    <div class="select-crytocurrency-list dashboardwal-carousel blockelemtn">
                        <h1>Select Your cryptocurrency</h1>
                        <div class="carousel">
                            <a class="carousel-item1" (click)="getBtcOrEthBalance('BTC')">
                                <h1>BitCoin</h1>
                                <img src="assets/images/bitcoinswipe.png" />
                            </a>
                            <a class="carousel-item1" (click)="getBtcOrEthBalance('ETH')">
                                <h1>Ethereum</h1>
                                <img src="assets/images/etheriumswipe.png" />
                            </a>
                            <a class="carousel-item1">
                                <h1>Monero</h1>
                                <img src="assets/images/moneroswipe.png" />
                            </a>
    
                        </div>
                    </div>
    
    
                </div>
                <div class="select-your-cryptocurrency blockelemtn">
                    <div class="crypto-currency-wallet">
                        <h1>{{btcOrEth}} Balance</h1>
                        <div class="etherum-blance">
                            <h2>{{btcOrEthBalance}}</h2>
                            <div class="etherum-usdolar">
                                <p>{{btcOrEthBalanceUsd}} USDollar</p>
                                <!-- <div class="bal-exchange-dollar">
                                    <select>
                                        <option value="usdollar">USDollar</option>
                                        <option value="usdollar1">USDollar</option>
                                        <option value="usdollar2">USDollar</option>
                                    </select>
                                </div> -->
                            </div>
                        </div>
                        <div class="refresh-btn">
                            <a href="javascript:void(0);">
                                <img src="assets/images/refresh.png" />
                            </a>
                        </div>
                        <div class="send-receive-bttngrup">
                            <button type="button" class="sendbtn">Send
                                <img src="assets/images/sendicon.png" />
                            </button>
                            <button type="button" class="requestbtn" (click)="qrCodeModalOpenOrClose()">Request
                                <img src="assets/images/receiveicon.png" />
                            </button>
                        </div>
                        <div class="info">
                            <a href="javascript:void(0);" class="infobtn">Information</a>
                        </div>
                    </div>
                </div>
    
            </perfect-scrollbar>
        </div>
    
        <!-- Bluewallet Body -->
        <div class="bluewallet-body-wrap">
            <div class="bluewallet-sms-code">
                <div class="backlink">
                    <a href="javascript:void(0);" [routerLink]="['/dashboard']">Back</a>
                </div>
                <div class="welcome-wallet-blue">
    
                    <div class="wallet-sms-logo">
                        <h1>Welcome</h1>
                        <img class="heightauto" src="assets/images/logo.png" />
                    </div>
                    <div class="wallet-sms-content">
                        <p>Verify your identity to request your XLM. Will Take a few minutes. Once verification, you could
                            use our
                            product of last generation exchange.</p>
                        <div class="sms-content-bg">
                            <p>When you create a Wallet, you accept
                            </p>
                            <p>
                                <a href="javascript:void(0);">Terms of Service</a> &amp;
                                <a href="javascript:void(0);">Policies and Privacy</a>
                            </p>
                        </div>
                        <div class="beginnowbtn">
                            <button type="button" class="create-walbtn" (click)="goToHomeAddress()">Begin Now</button>
                        </div>
                    </div>
                </div>
                <div class="welcome-wallet-blue">
                    <div class="wallet-sms-logo">
                        <h1>Verify with 2 Steps</h1>
                        <img src="assets/images/verify-sms-icon.png" />
                    </div>
                    <div class="wallet-sms-content">
                        <p>Avoid the no authorized access to your wallet. Enable the verification of 2 steps to upgrade the
                            security
                            on your wallet</p>
                        <div class="beginnowbtn">
                            <button type="button" class="create-walbtn"
                                (click)="getEnableOrDisable('click')">{{enableOrDisable}}</button>
                        </div>
                        <div class="enableotp" *ngIf="otpShowOrHide">
                            <div class="enable-otp-verify">
                                <input type="number" name="optOne" (paste)="avoidCopyAndPaste()"
                                    (copy)="avoidCopyAndPaste()" [(ngModel)]="optOne"
                                    onKeyPress="if(this.value.length==1) return false;" />
                                <input type="number" name="optTwo" (paste)="avoidCopyAndPaste()"
                                    (copy)="avoidCopyAndPaste()" [(ngModel)]="optTwo"
                                    onKeyPress="if(this.value.length==1) return false;" />
                                <input type="number" name="optThree" (paste)="avoidCopyAndPaste()"
                                    (copy)="avoidCopyAndPaste()" [(ngModel)]="optThree"
                                    onKeyPress="if(this.value.length==1) return false;" />
                                <input type="number" name="optFour" (paste)="avoidCopyAndPaste()"
                                    (copy)="avoidCopyAndPaste()" [(ngModel)]="optFour"
                                    onKeyPress="if(this.value.length==1) return false;" />
                                <input type="number" name="optFive" (paste)="avoidCopyAndPaste()"
                                    (copy)="avoidCopyAndPaste()" [(ngModel)]="optFive"
                                    onKeyPress="if(this.value.length==1) return false;" />
                                <input type="number" name="optSix" (paste)="avoidCopyAndPaste()"
                                    (copy)="avoidCopyAndPaste()" [(ngModel)]="optSix"
                                    onKeyPress="if(this.value.length==1) return false;" />
                            </div>
                            <div class="enable-verify">
                                <button type="button" class="create-walbtn"
                                    (click)="getEnableOrDisable('click')">Verify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--fastbuy-popup-->
    <div class="wantbuy-bluewallet" style="display: none;">
        <div class="wantbuy-pop-center">
            <div class="buy-bluewt-div">
                <div class="wantbuy-paypal-title">
                    <h1>How much you want to buy?</h1>
                </div>
                <div class="wantbuy-droplist">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="droplist-fastbuy">
                                <input type="text">
                                <span>Min. 0.0124</span>
                                <div class="list-cop1">
                                    <a href="javascript:void(0);">COP
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="list-cop-dropdown">
                                        <li>
                                            <a href="javascript:void(0);">
                                                ETH
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                BTC
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                COP
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="droplist-fastbuy1">
                                <a href="javascript:void(0);">Paypal</a>
                                <ul class="pay-methd-1">
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wantbuy-body-form">
                    <ul>
                        <li>
                            <div class="form-user-list">
                                <label>User</label>
                                <span>Yotemplario
                                    <sup>500+</sup>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Price</label>
                                <span>15,650,000.00 COP </span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Country</label>
                                <span>Colombia</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Comercial Limits</label>
                                <span>100,00 - 1,000,000 COP</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Title</label>
                                <span>Bank Transfer.</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Description</label>
                                <span>Details of transfer.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="sen-req">
                        <button type="button" class="sendrequestbtn">Send Request </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Email Popup -->
    <div class="email-inbox-wrap" style="display: none;">
        <div class="email-inbox-modal">
            <div class="email-inbox-box">
                <div class="inbox-box">
                    <img src="assets/images/emailinboxicon.png" />
                    <h2>Check Your Inbox...</h2>
                    <a href="javascript:void(0);">JohnDoe@gmail.com</a>
                    <p>search an email of BlueWallet And click the link of verification to complete the configuration of
                        your Wallet.</p>
                </div>
                <div class="goto-email">
                    <button type="button" class="gotemailbtn">Go to Email</button>
                    <button type="button" class="checkitlaterbtn disable">Check It Later</button>
                </div>
            </div>
        </div>
    </div>