<div class="login-body-bg">
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark wow fadeInDown" data-wow-duration="0.8s">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/bluewallet-logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Bluwallet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">To buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-btn loginlink" [routerLinkActive]="['active']"
                [routerLink]="['/login']">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="bluewallet-body-wrap1">
    <div class="bluewallet-create-wallet">
      <div class="create-wallet-body">
        <div class="bluewallet-creating">
          <div class="create-wallet-title">
            <h1>Create a New Wallet</h1>
          </div>
          <form [formGroup]="createWalletForm">
            <div class="form-group">
              <label>Email</label>
              <div class="form-input-group">
                <input type="text" formControlName="email">
                <span class="validationError"
                  *ngIf="createWalletForm.get('email').errors && createWalletForm.get('email').touched">
                  <span class="clrred" *ngIf="createWalletForm.get('email').errors.required">Email is required.</span>
                  <span class="clrred" *ngIf="createWalletForm.get('email').errors.pattern">Email is not valid.</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="form-input-group">
                <input type="password" formControlName="password" (ngModelChange)="checkPasswordStrength()">
                <span class="validationError"
                  *ngIf="createWalletForm.get('password').errors && createWalletForm.get('password').touched">
                  <span class="clrred" *ngIf="createWalletForm.get('password').errors.required">Password is
                    required.</span>
                </span>
              </div>
              <!-- <div class="strongpwd weakclr mediumclr strongclr"> -->
              <div class="strongpwd"
                [ngClass]="{'weakclr':weakPassword,'mediumclr':mediumPassword,'strongclr':strongPassword}"
                *ngIf="passwordMeterShowOrHide">
                <ul>
                  <li>Weak</li>
                  <li>Medium</li>
                  <li>Hard</li>
                </ul>
                <span class="pwdstrongline"></span>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <div class="form-input-group">
                <input type="password" formControlName="conformPassword" (ngModelChange)="confirmPasswordChecker()">
                <span class="validationError"
                  *ngIf="createWalletForm.get('conformPassword').errors && createWalletForm.get('conformPassword').touched">
                  <span class="clrred" *ngIf="createWalletForm.get('conformPassword').errors.required">Confirm password
                    is
                    required.</span>
                </span>
                <span class="validationError" *ngIf="confirmPasswordShowOrHide">
                  <span class="clrred">password must be same.</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="terms-condition-wallet">
                <p>When you create a Wallet, you accept
                </p>
                <p>
                  <a href="javascript:void(0);">Terms of Service</a> &
                  <a href="javascript:void(0);">Policies and Privacy
                  </a>
                </p>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button" class="create-walbtn" (click)="onCreateNewWallet()">Create Wallet</button>
            </div>
          </form>
        </div>
        <div class="bluewallet-creating">
          <div class="login-bottom-dv">
            <h1>We are here to help you</h1>
            <div class="login-contact-group">
              <p>Support is a few steps away from you. </p>
              <p>You can get an immediate answer to your question.</p>
              <button class="dirctcontactbtn" type="button">Contact
                <img src="assets/images/helpicon1.png">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="bluewallet-dashboard-fullwrap">
  <!-- Dashboard Header -->

  <!-- Bluewallet Body -->
  <!-- <div class="bluewallet-body-wrap">
    <div class="bluewallet-create-wallet">
      <div class="create-wallet-title">
        <h1>Create a New Wallet</h1>
      </div>
      <div class="create-wallet-body">
        <div class="bluewallet-creating">
          <form [formGroup]="createWalletForm">
            <div class="form-group">
              <label>Email</label>
              <div class="form-input-group">
                <input type="text" formControlName="email">
                <span class="validationError" *ngIf="createWalletForm.get('email').errors && createWalletForm.get('email').touched">
                  <span *ngIf="createWalletForm.get('email').errors.required">Email is required.</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="form-input-group">
                <input type="password" formControlName="password">
                <span class="validationError" *ngIf="createWalletForm.get('password').errors && createWalletForm.get('password').touched">
                  <span *ngIf="createWalletForm.get('password').errors.required">Password is required.</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <div class="form-input-group">
                <input type="password" formControlName="conformPassword">
                <span class="validationError" *ngIf="createWalletForm.get('conformPassword').errors && createWalletForm.get('conformPassword').touched">
                  <span *ngIf="createWalletForm.get('conformPassword').errors.required">Confirm password is required.</span>
                </span>
                <span class="validationError" *ngIf="!(createWalletForm.get('password').value == createWalletForm.get('conformPassword').value)">
                  password must be same.
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="terms-condition-wallet">
                <p>When you create a Wallet, you accept
                </p>
                <p>
                  <a href="javascript:void(0);">Terms of Service</a> &
                  <a href="javascript:void(0);">Policies and Privacy
                  </a>
                </p>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button" class="create-walbtn" (click)="onCreateNewWallet()">Create Wallet</button>
            </div>
          </form>
        </div>
        <div class="bluewallet-creating">
          <form>
            <div class="form-group">
              <label>Please, Introduce Your new pin</label>
              <div class="form-input-group">
                <input type="text">
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button" class="create-walbtn">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!--fastbuy-popup-->
<!-- <div class="wantbuy-bluewallet" style="display: none;">
  <div class="wantbuy-pop-center">
    <div class="buy-bluewt-div">
      <div class="wantbuy-paypal-title">
        <h1>How much you want to buy?</h1>
      </div>
      <div class="wantbuy-droplist">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="droplist-fastbuy">
              <input type="text">
              <span>Min. 0.0124</span>
              <div class="list-cop1">
                <a href="javascript:void(0);">COP
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="list-cop-dropdown">
                  <li>
                    <a href="javascript:void(0);">
                      ETH
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      BTC
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      COP
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="droplist-fastbuy1">
              <a href="javascript:void(0);">Paypal</a>
              <ul class="pay-methd-1">
                <li>
                  <a href="javascript:void(0);">
                    Paypal
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    Paypal
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    Paypal
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="wantbuy-body-form">
        <ul>
          <li>
            <div class="form-user-list">
              <label>User</label>
              <span>Yotemplario
                <sup>500+</sup>
              </span>
            </div>
          </li>
          <li>
            <div class="form-user-list">
              <label>Price</label>
              <span>15,650,000.00 COP </span>
            </div>
          </li>
          <li>
            <div class="form-user-list">
              <label>Country</label>
              <span>Colombia</span>
            </div>
          </li>
          <li>
            <div class="form-user-list">
              <label>Comercial Limits</label>
              <span>100,00 - 1,000,000 COP</span>
            </div>
          </li>
          <li>
            <div class="form-user-list">
              <label>Title</label>
              <span>Bank Transfer.</span>
            </div>
          </li>
          <li>
            <div class="form-user-list">
              <label>Description</label>
              <span>Details of transfer.</span>
            </div>
          </li>
        </ul>
        <div class="sen-req">
          <button type="button" class="sendrequestbtn">Send Request </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Email Popup -->
<div class="email-inbox-wrap" *ngIf="successMailShowOrHide">
  <div class="email-inbox-modal">
    <div class="email-inbox-box">
      <div class="inbox-box">
        <img src="assets/images/emailinboxicon.png" />
        <h2>Check Your Inbox...</h2>
        <!-- <a href="javascript:void(0);">JohnDoe@gmail.com</a> -->
        <p>search an email of BluWallet And click the link of verification to complete the configuration of your
          Wallet.</p>
      </div>
      <div class="goto-email">
        <button type="button" class="gotemailbtn" (click)="goToLoginPage()">Go to Email</button>
        <button type="button" class="checkitlaterbtn disable" (click)="goToLoginPage()">Check It Later</button>
      </div>
    </div>
  </div>
</div>