<div class="langing-body-bg">
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark wow fadeInDown" data-wow-duration="0.8s">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Bluewallet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Purchase</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-btn" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>




  <!-- Header Banner -->
  <section class="blueway-banner-wrapper">
    <div class="blueway-banner-div">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-xs-12">
            <div class="blueway-banner-content">
              <span class="bgblue"></span>
              <h1>A Wallet, a Card All in one</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              </p>
              <div class="banner-bttn-group d-flex align-items-center">
                <button type="button" class="bttn">Download</button>
                <div class="banner-play">
                  <ul>
                    <li>
                      <a href="javascript:void(0);">
                        <img src="assets/images/appleicon.png" alt="icon">
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <img src="assets/images/playstoreicon.png" alt="icon">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blueway-bann-exchange">
                <ul>
                  <li class="exhange1 wow fadeInUp" data-wow-duration="0.8s">
                    <a href="javascript:void(0);">
                      <img src="assets/images/menu3.png" alt="icon" />
                    </a>
                    <span>Exchange</span>
                  </li>
                  <li class="exhange2 wow fadeInUp" data-wow-duration="1.5s">
                    <a href="javascript:void(0);">
                      <img src="assets/images/menu2.png" alt="icon" />
                    </a>
                    <span>Vaul</span>
                  </li>
                  <li class="exhange3 wow fadeInUp" data-wow-duration="2s">
                    <a href="javascript:void(0);">
                      <img src="assets/images/menu1.png" alt="icon" />
                    </a>
                    <span>Credit</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Acerca -->
  <section class="aboutus-wrapper">
    <div class="container">
      <div class="about-div">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-12">
            <div class="blueway-abt-content">
              <span class="bgblue"></span>
              <h1>About Us</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-listbox">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="blueway-box wow fadeInUp" data-wow-duration="0.8s">
              <div class="innovation-icon">
                <img src="assets/images/split1.png" alt="icon" />
              </div>
              <h1>Innovation</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet,</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="blueway-box wow fadeInUp" data-wow-duration="1.3s">
              <div class="innovation-icon">
                <img src="assets/images/split3.png" alt="icon" />
              </div>
              <h1>Technology</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet,</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="blueway-box wow fadeInUp" data-wow-duration="1.8s">
              <div class="innovation-icon">
                <img src="assets/images/split2.png" alt="icon" />
              </div>
              <h1>Easy</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet,</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- App Slider -->
  <section class="app-landing-slider">
    <div class="container">
      <div class="appslider">
        <div class="slider-appsection">
          <div class="banner-mdiv fadeOut">
            <div class="article">
              <div class="banner-article-div">
                <div class="app-container">
                  <div class="row app-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-content">
                        <h2>App</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                          massa. Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                          massa. Lorem ipsum dolor sit amet.</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-cont-image wow fadeInDown" data-wow-duration="0.8s">
                        <img src="assets/images/mobi.png" alt="banner-image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article">
              <div class="banner-article-div">
                <div class="app-container">
                  <div class="row app-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-content">
                        <h2>App</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                          massa. Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                          massa. Lorem ipsum dolor sit amet.</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-cont-image wow fadeInDown" data-wow-duration="0.8s">
                        <img src="assets/images/mobi.png" alt="banner-image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article">
              <div class="banner-article-div">
                <div class="app-container">
                  <div class="row app-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-content">
                        <h2>App Development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                          massa. Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                          massa. Lorem ipsum dolor sit amet.</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-cont-image wow fadeInDown" data-wow-duration="0.8s">
                        <img src="assets/images/mobi.png" alt="banner-image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bluewallet-appstore">
          <div class="appstore-halfdiv">
            <h1>Get Now Bluewallet</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
              ipsum dolor sit amet.</p>
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <img src="assets/images/appicon.png" alt="appicon" />
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <img src="assets/images/appsicon2.png" alt="appicon" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Purchase -->
  <section class="purchase-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <div class="purchase-img purchaseimg-left wow fadeInLeft" data-wow-duration="1.5s">
            <img src="assets/images/card.png" alt="card" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="purchase-content">
            <span class="bgblue"></span>
            <h1>Purchase</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
              ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
              ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer
              adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet.
            </p>
            <div class="purchase-bttn-grp">
              <a class="regcredit" href="javascript:void(0);">Request Credit</a>
              <a class="faq-bttn" href="javascript:void(0);">
                FAQ
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <div class="purchase-img purchaseimg-right wow fadeInRight" data-wow-duration="1.5s">
            <img src="assets/images/card2.png" alt="card" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- API -->
  <section class="api-wrapper">
    <div class="api-bgimage">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="our-api-content">
              <span class="bgblue"></span>
              <h4>API</h4>
              <h1>Be a part of our API</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem
                ipsum dolor sit amet.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              </p>
              <div class="request-api">
                <input type="text" placeholder="Write Your Email" />
                <button type="button" class="requestapi-btn">Request API</button>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="documentation-bttn">
                <button type="button" class="document-btn">Documentation</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="api-mobileicon">
        <img class="wow fadeInUp" data-wow-duration="1.5s" src="assets/images/mobi2.png" />
      </div>
    </div>
  </section>

  <!-- contact help you -->
  <section class="helpyou-wraper">
    <div class="container">
      <div class="row center-div">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="help-you-title center">
            <h1>We are here to help you</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="help-you-contact">
            <p>Support team is close to you You will get an instant answer.</p>
            <div class="contactbttn">
              <button type="button" class="contactusbtn">Contact <img src="assets/images/helpicon1.png"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="helpimage">
      <img class="wow fadeInUp" data-wow-duration="1.5s" src="assets/images/helpicon.png" />
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 colsm-12 col-12">
          <div class="bluewalletfooter">
            <a class="footer-logo-div" href="javascript:void(0);">
              <img src="assets/images/footerlogo.png" alt="image" />
            </a>
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="javascript:void(0);">Bluewallet</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Purchase</a>
                </li>
                <li>
                  <a href="javascript:void(0);">API</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Contact</a>
                </li>
                <li>
                  <a class="footer-login" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
                  <!-- <a class="footer-login" href="javascript:void(0);">Login</a> -->
                </li>
              </ul>
            </div>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-submenu">
              <ul>
                <li>
                  <a href="javascript:void(0);">Legal</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Privacy</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Policies</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bgcolr wow fadeInUp" data-wow-duration="1.5s"></div>
  </footer>

  <div class="scrollTop">
    <a href="javascript:void(0);">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
  </div>
</div>