<div class="langing-body-bg">
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark wow fadeInDown" data-wow-duration="0.8s">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Bluwallet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/api']">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#contacus"
                (click)="contactUsForm.reset()">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-btn" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>




  <!-- Header Banner -->
  <section class="blueway-banner-wrapper">
    <div class="blueway-banner-div">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-xs-12">
            <div class="blueway-banner-content">
              <span class="bgblue"></span>
              <h1>A Wallet, with Value</h1>
              <p>BluWallet is born from the development of BlueWays, an innovative company that revolutionized the
                market through
                a unique valorization system.
              </p>
              <p>Thanks to the rise of cryptocurrencies, BluWallet carries a primary need for new cryptographic users, a
                wallet
                with value.
              </p>
              <div class="banner-bttn-group d-flex align-items-center">
                <button type="button" class="bttn">Download</button>
                <div class="banner-play">
                  <ul>
                    <li>
                      <a href="javascript:void(0);">
                        <img src="assets/images/appleicon.png" alt="icon">
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <img src="assets/images/playstoreicon.png" alt="icon">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="blueway-bann-exchange">
                <ul>
                  <li class="exhange1 wow fadeInUp" data-wow-duration="0.8s">
                    <a href="javascript:void(0);">
                      <img src="assets/images/menu3.png" alt="icon" />
                    </a>
                    <span>Exchange</span>
                  </li>
                  <li class="exhange2 wow fadeInUp" data-wow-duration="1.5s">
                    <a href="javascript:void(0);">
                      <img src="assets/images/menu2.png" alt="icon" />
                    </a>
                    <span>Vault</span>
                  </li>
                  <li class="exhange3 wow fadeInUp" data-wow-duration="2s">
                    <a href="javascript:void(0);">
                      <img src="assets/images/menu1.png" alt="icon" />
                    </a>
                    <span>Credit</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Acerca -->
  <section class="aboutus-wrapper">
    <div class="container">
      <div class="about-div">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-12">
            <div class="blueway-abt-content">
              <span class="bgblue"></span>
              <h1>About Us</h1>
              <p>Founded in June 2016, BluWallet is a platform and portfolio in digital currency where businesses and
                consumers
                can make transactions with new digital currencies, such as bitcoin, ethereum and Ripple.
              </p>
              <p>Bitcoin is the most widely used alternative currency in the world, with a total market capitalization
                of more
                than more than 100 billion dollars. The bitcoin network consists of thousands of computers managed by
                natural
                per sons in all parts of the world.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-listbox">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="blueway-box wow fadeInUp" data-wow-duration="0.8s">
              <div class="innovation-icon">
                <img src="assets/images/split1.png" alt="icon" />
              </div>
              <h1>Innovation</h1>
              <p>In search of new implementations, BluWallet is characterized by a unique and different interface,
                through the
                new needs that are born every day with cryptographic users, functionality and good use leads us to be at
                the forefront of development in the wallet of cryptocurrencies.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="blueway-box wow fadeInUp" data-wow-duration="1.3s">
              <div class="innovation-icon">
                <img src="assets/images/split3.png" alt="icon" />
              </div>
              <h1>Technology</h1>
              <p>With one of the best use of practices in the market, BluWallet is committed to the importance of having
                one
                of the best technologies on the market, the highest security protocols and good development practices.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="blueway-box wow fadeInUp" data-wow-duration="1.8s">
              <div class="innovation-icon">
                <img src="assets/images/split2.png" alt="icon" />
              </div>
              <h1>Facility</h1>
              <p>The importance of a real and friendly interface, leads to a better understanding of the most important
                and
                subquente improvement of the same interface, our UI/UX was meticulously thought for easy handling, for
                individuals
                with or without experience in the cryptographic world .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- App Slider -->
  <section class="app-landing-slider">
    <div class="container">
      <div class="appslider">
        <div class="slider-appsection">
          <div class="banner-mdiv fadeOut">
            <div class="article">
              <div class="banner-article-div">
                <div class="app-container">
                  <div class="row app-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-content">
                        <h2>Security</h2>
                        <p>Security through architecture</p>
                        <p>BluWallet manages its own customized nodes and APIs, thus ensuring one of the best
                          technologies for
                          the use of users.</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-cont-image wow fadeInDown" data-wow-duration="0.8s">
                        <img src="assets/images/mobi1.png" alt="banner-image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article">
              <div class="banner-article-div">
                <div class="app-container">
                  <div class="row app-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-content">
                        <h2>Security</h2>
                        <p>Security through architecture</p>
                        <p>BluWallet manages its own customized nodes and APIs, thus ensuring one of the best
                          technologies for
                          the use of users.</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="app-cont-image wow fadeInDown" data-wow-duration="0.8s">
                        <img src="assets/images/mobi.png" alt="banner-image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bluewallet-appstore">
          <div class="appstore-halfdiv">
            <h1>Get Now BluWallet</h1>
            <p>Use the latest technology to manage your cryptocurrencies.</p>
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <img src="assets/images/appicon.png" alt="appicon" />
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <img src="assets/images/appsicon2.png" alt="appicon" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Purchase -->
  <section class="purchase-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <div class="purchase-img purchaseimg-left wow fadeInLeft" data-wow-duration="1.5s">
            <img src="assets/images/card.png" alt="card" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="purchase-content">
            <span class="bgblue"></span>
            <h1>Buy</h1>
            <p class="buycolropacity">Try the new BlueWays credit cards, where you can monetize your cryptocurrencies
              and use them.</p>
            <p>Capable of being used around the world without any problem, these cards handle the best fees in the
              market, use
              your cryptocurrencies as a currency, you will not have problems with the change of your coins to fiat.
            </p>
            <div class="purchase-bttn-grp">
              <a class="regcredit" href="javascript:void(0);">Request Card</a>
              <a class="faq-bttn" href="javascript:void(0);">
                FAQ Cards
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <div class="purchase-img purchaseimg-right wow fadeInRight" data-wow-duration="1.5s">
            <img src="assets/images/card2.png" alt="card" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- API -->
  <section class="api-wrapper">
    <div class="api-bgimage">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="our-api-content">
              <span class="bgblue"></span>
              <h4>API</h4>
              <h1>Be a part of our API</h1>
              <p>If you have the need to accept cryptocurrencies in your trade, business or venture, request the
                BluWallet API,
                an API with payment gateway capable of generating smart invoices and with a low percentage of fee.</p>
              <div class="request-api">
                <input type="text" placeholder="Put your email" />
                <button type="button" class="requestapi-btn" data-toggle="modal" data-target="#apikey"
                  (click)="requestApiForm.reset()">Request
                  API</button>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="documentation-bttn">
                <button type="button" class="document-btn">Documentation</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="api-mobileicon">
        <img class="wow fadeInUp" data-wow-duration="1.5s" src="assets/images/mobi2.png" />
      </div>
    </div>
  </section>

  <!-- contact help you -->
  <section class="helpyou-wraper">
    <div class="container">
      <div class="row center-div">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="help-you-title center">
            <h1>We are here to help you</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="help-you-contact">
            <p>Our support is a few steps away from you. You can get an immediate answer to your question.</p>
            <div class="contactbttn">
              <button type="button" class="contactusbtn">Contact
                <img src="assets/images/helpicon1.png">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="helpimage">
      <img class="wow fadeInUp" data-wow-duration="1.5s" src="assets/images/helpicon.png" />
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 colsm-12 col-12">
          <div class="bluewalletfooter">
            <a class="footer-logo-div" href="javascript:void(0);">
              <img src="assets/images/footerlogo.png" alt="image" />
            </a>
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="javascript:void(0);">BluWallet</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Buy</a>
                </li>
                <li>
                  <a [routerLinkActive]="['active']" [routerLink]="['/api']">API</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Contact</a>
                </li>
                <li>
                  <a class="footer-login" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
                  <!-- <a class="footer-login" href="javascript:void(0);">Login</a> -->
                </li>
              </ul>
            </div>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-submenu">
              <ul>
                <li>
                  <a [routerLinkActive]="['active']" [routerLink]="['/privacy']">Legal</a>
                </li>
                <li>
                  <a [routerLinkActive]="['active']" [routerLink]="['/privacy']">Privacy</a>
                </li>
                <li>
                  <a [routerLinkActive]="['active']" [routerLink]="['/privacy']">Policies</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bgcolr wow fadeInUp" data-wow-duration="1.5s"></div>
  </footer>


</div>
<div class="scrollTop">
  <a href="javascript:void(0);">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </a>
</div>
<div class="api-key-form">
  <div class="modal fade" id="apikey" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <img src="/assets/images/bluwallet-logo.png">
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeRequestApiModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="apikey-form-body">
            <h1>Api Key</h1>
            <p>Fill in the following form to request an API key for api.eyewallet.info.</p>
            <form [formGroup]="requestApiForm">

              <div class="form-group">
                <label>First name</label>
                <input type="text" formControlName="firstName">
                <span class="validationError"
                  *ngIf="requestApiForm.get('firstName').errors && requestApiForm.get('firstName').touched">
                  <span class="clrred" *ngIf="requestApiForm.get('firstName').errors.required">First name is required.</span>

                </span>
                <span>Your name or that of your organization.</span>
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email">
                <span class="validationError"
                  *ngIf="requestApiForm.get('email').errors && requestApiForm.get('email').touched">
                  <span class="clrred" *ngIf="requestApiForm.get('email').errors.required">Email is required.</span>
                  <span class="clrred" *ngIf="requestApiForm.get('email').errors.pattern">Email is not valid.</span>

                </span>
              </div>


              <div class="form-group">
                <label>URL</label>
                <input type="text" formControlName="url">
                <span class="validationError"
                  *ngIf="requestApiForm.get('url').errors && requestApiForm.get('url').touched">
                  <span class="clrred" *ngIf="requestApiForm.get('url').errors.required">Url is required.</span>

                </span>
                <span>URL of your website or application</span>
              </div>


              <div class="form-group">
                <label>Description</label>
                <input type="text" formControlName="description">
                <span class="validationError"
                  *ngIf="requestApiForm.get('description').errors && requestApiForm.get('description').touched">
                  <span class="clrred" *ngIf="requestApiForm.get('description').errors.required">Description is required.</span>

                </span>
                <span>A description of your website / application</span>
              </div>


              <div class="form-group-termscondition">
                <h1>Terms and Conditions</h1>
                <div class="checkbox-list">
                  <input type="checkbox" id="checkbox1" formControlName="termsAndConditions">
                  <label for="checkbox1">
                    I accept the terms and conditions
                  </label>
                </div>
                <div class="accept-content-read">
                  <div class="accept-cont-para">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut
                      laoreet dolore magna aliquam erat volutpat. tincidunt ut laoreet dolore magna aliquam erat
                      volutpat.
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="captcha-condition">
                <div class="captcha-tick">

                </div>
              </div> -->
              <div class="form-bttn-group">
                <button type="button" class="acceptbttn applyforbtn" (click)="onSubmitRequestApi()">Apply for</button>
                <button type="button" class="acceptbttn applyforcancelbtn" (click)="closeModal()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->
<div class="api-key-form">
  <div class="modal fade" id="contacus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <img src="/assets/images/bluwallet-logo.png">
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #contactUsModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="apikey-form-body">
            <h1>Contact Us</h1>
            <p class="text-left">Fill the contact form for specialized services that Bluwallet can help you with,
              perfect for institutions
              and complanies.
            </p>
            <form [formGroup]="contactUsForm">
              <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name">
                <span class="validationError"
                  *ngIf="contactUsForm.get('name').errors && contactUsForm.get('name').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('name').errors.required">Name is required.</span>

                </span>
                <span>Your name or that of your organization.</span>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email">
                <span class="validationError"
                  *ngIf="contactUsForm.get('email').errors && contactUsForm.get('email').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('email').errors.required">Email is required.</span>
                  <span class="clrred" *ngIf="contactUsForm.get('email').errors.pattern">Email is not valid.</span>

                </span>
              </div>
              <div class="form-group">
                <label>URL</label>
                <input type="text" formControlName="url">
                <span class="validationError"
                  *ngIf="contactUsForm.get('url').errors && contactUsForm.get('url').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('url').errors.required">Url is required.</span>

                </span>
                <span>URL of your website</span>
              </div>

              <div class="form-group">
                <label>Description</label>
                <input type="text" formControlName="description">
                <span class="validationError"
                  *ngIf="contactUsForm.get('description').errors && contactUsForm.get('description').touched">
                  <span class="clrred" *ngIf="contactUsForm.get('description').errors.required">Description is required.</span>

                </span>
                <span>A brief description of your organization</span>
              </div>
              <div class="form-group-termscondition">
                <h1>Terms and Conditions</h1>
                <div class="checkbox-list">
                  <input type="checkbox" id="checkbox2" formControlName="termsAndConditions">
                  <label for="checkbox2">
                    I accept the terms and conditions
                  </label>
                </div>
                <div class="accept-content-read">
                  <div class="accept-cont-para">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut
                      laoreet dolore magna aliquam erat volutpat. tincidunt ut laoreet dolore magna aliquam erat
                      volutpat.
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-bttn-group">
                <button type="button" class="acceptbttn applyforbtn"
                  (click)="onSubmitContactUsDetails()">Request</button>
                <button type="button" class="acceptbttn applyforcancelbtn"
                  (click)="closeContactUsModal()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>