<div class="bluewallet-dashboard-fullwrap">
    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <div class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
            <div class="profile-setting">
                <div class="setting-image">
                    <img src="assets/images/profile.jpg" alt="image" />
                </div>
            </div>
            <div class="select-your-cryptocurrency">

                <div class="crypto-currency-wallet">
                    <h1>{{ethOrBtc}} Balance</h1>
                    <div class="etherum-blance">
                        <h2>{{availabeBalance}}</h2>
                        <div class="etherum-usdolar">
                            <p>{{usdForEthOrBtc}} USDollar</p>
                        </div>
                    </div>
                    <div class="refresh-btn">
                        <a href="javascript:void(0);">
                            <img src="assets/images/refresh.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="wallet-eth-list">
                <div class="info">
                    <a href="javascript:void(0);" class="infobtn">Information</a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">ETH
                                <img src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">435 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTC
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">20.000 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">XRP
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bluewallet-body-wrap">
        <div class="profile-page-div">
            <div class="profile-view">
                <div class="profile-upload-div">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type="file" id="imageupload">
                            <label for="imageupload">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </label>
                        </div>
                        <div class="avatar-preview">
                            <img id="imagePreview" src="assets/images/profile.jpg">
                        </div>
                    </div>
                </div>
                <div class="profile-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            ID
                                        </label>
                                        <input type="text" placeholder="ID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Mobile
                                        </label>
                                        <input type="text" placeholder="Mobile">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Registry
                                        </label>
                                        <input type="text" placeholder="Registry">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Country
                                        </label>
                                        <div class="selecgroup">
                                            <select>
                                                <option>Country</option>
                                                <option>Country</option>
                                                <option>Country</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            E-mail
                                        </label>
                                        <input type="text" placeholder="Carloserojas531@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Coin purse
                                        </label>
                                        <input type="text" placeholder="Bitcoin">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Version
                                        </label>
                                        <input type="text" placeholder="2.0.4">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 text-center">
                                    <div class="form-group">
                                        <div class="inputeffect">
                                                <button class="create-walbtn" type="button">Save</button>
                                                <button class="create-walbtn" type="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>