<div class="bluewallet-dashboard-fullwrap">
    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <div class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
            <div class="profile-setting">
                <div class="setting-image">
                    <img src="assets/images/profile.jpg" alt="image" />
                </div>
            </div>
            <div class="select-your-cryptocurrency">

                <div class="crypto-currency-wallet">
                    <h1>{{ethOrBtc}} Balance</h1>
                    <div class="etherum-blance">
                        <h2>{{availabeBalance}}</h2>
                        <div class="etherum-usdolar">
                            <p>{{usdForEthOrBtc}} USDollar</p>
                        </div>
                    </div>
                    <div class="refresh-btn">
                        <a href="javascript:void(0);" (click)="getBtcOrEthBalance()">
                            <img src="assets/images/refresh.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="send-receive-bttngrup">
                <button type="button" class="secondfact">Second Factor
                    <img src="assets/images/Group-2043.png" />
                </button>
            </div>
            <div class="wallet-eth-list">
                <div class="info">
                    <a href="javascript:void(0);" class="infobtn">Information</a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">ETH
                                <img *ngIf="currentEthAmountStatus == 1" src="assets/images/uparrowgreen.png" />
                                <img *ngIf="currentEthAmountStatus == 0" src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">{{currentEthAmount}} $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTC
                                <img *ngIf="currentBtcAmountStatus == 1" src="assets/images/uparrowgreen.png" />
                                <img *ngIf="currentBtcAmountStatus == 0" src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">{{currentBtcAmount}} $</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">XRP
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li> -->
                </ul>


            </div>
        </div>
    </div>
    <div class="bluewallet-body-wrap">
        <div class="profile-page-div">
            <div class="profile-view">
                <div class="profile-upload-div">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type="file" id="imageupload" (change)="onSelectProfileImage(profileImage.files)" #profileImage>
                            <label for="imageupload">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </label>
                        </div>
                        <div class="avatar-preview">
                            <img [src]="profileImageSrc">
                        </div>
                    </div>
                </div>
                <div class="profile-form">
                    <form [formGroup]="profileForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Name
                                        </label>
                                        <input type="text" placeholder="Name" formControlName="name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Mobile
                                        </label>
                                        <input type="text" placeholder="Mobile" formControlName="mobile">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Registry
                                        </label>
                                        <input type="text" placeholder="Registry" formControlName="registry">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Country
                                        </label>
                                        <div class="selecgroup">
                                            <select formControlName="country" [(ngModel)]="selectedCountry">
                                                <option value="undefined">Select Country</option>
                                                <option *ngFor="let country of countryListArr;let i = index;" value="{{country.id}}">{{country.countryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            E-mail
                                        </label>
                                        <input type="email" placeholder="Carloserojas531@gmail.com" formControlName="email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Coin purse
                                        </label>
                                        <input type="text" placeholder="Bitcoin" formControlName="coinPurse">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <label>
                                            Version
                                        </label>
                                        <input type="text" placeholder="2.0.4" formControlName="version">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 text-center">
                                <div class="form-group">
                                    <div class="inputeffect">
                                        <button class="create-walbtn" type="button" (click)="updateProfileDetails()">Save</button>
                                        <button class="create-walbtn" type="button">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>