<div class="bluewallet-dashboard-fullwrap">
    <!-- Dashboard Header -->

    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <div class="profile-setting-sidebar primaryscroll" id="boxscroll1" [@slideUp]>
            <div class="profile-setting">
                <div class="setting-image">
                    <img src="assets/images/profile.jpg" alt="image" />
                </div>
            </div>
            <div class="wallet-eth-list">
                <div class="select-crytocurrency-list dashboardwal-carousel blockelemtn">
                    <h1>Select Your cryptocurrency</h1>
                    <div class="carousel">
                        <a class="carousel-item1" (click)="onSelectSliderCryptoCurrency('BTC')">
                            <h1>BitCoin</h1>
                            <img src="assets/images/bitcoinswipe.png" />
                        </a>
                        <a class="carousel-item1" (click)="onSelectSliderCryptoCurrency('ETH')">
                            <h1>Ethereum</h1>
                            <img src="assets/images/etheriumswipe.png" />
                        </a>
                        <a class="carousel-item1">
                            <h1>Monero</h1>
                            <img src="assets/images/moneroswipe.png" />
                        </a>

                    </div>
                </div>


            </div>
            <div class="select-your-cryptocurrency blockelemtn">
                <div class="crypto-currency-wallet">
                    <h1>{{selectedCurrencyType}} Balance</h1>
                    <div class="etherum-blance">
                        <h2>{{btcOrEthBalance}}</h2>
                        <div class="etherum-usdolar">
                            <p>{{btcOrEthUsdDollar}} USDollar</p>
                            <!-- <div class="bal-exchange-dollar">
                                <select>
                                    <option value="usdollar">USDollar</option>
                                    <option value="usdollar1">USDollar</option>
                                    <option value="usdollar2">USDollar</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                    <div class="refresh-btn">
                        <a href="javascript:void(0);" (click)="getBtcOrEthBalance(selectedCurrencyType)">
                            <img src="assets/images/refresh.png" />
                        </a>
                    </div>
                    <div class="send-receive-bttngrup">
                        <button type="button" class="sendbtn" (click)="sendHighLighter()">Send
                            <img src="assets/images/sendicon.png" />
                        </button>
                        <button type="button" class="requestbtn" (click)="requestHighLighter()">Request
                            <img src="assets/images/receiveicon.png" />
                        </button>
                    </div>
                    <div class="info">
                        <a href="javascript:void(0);" class="infobtn">Information</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Bluewallet Body -->
    <div class="bluewallet-body-wrap">
        <div class="blue-body-div">
            <div class="wallet-dailyupdate">
                <ul>
                    <li>
                        <h4>{{selectedCurrencyType}}</h4>
                        <div class="blue-value">
                            <p>{{btcOrEthBalance}}</p>
                            <button type="button" class="bluedaily-btn">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>15%</button>
                        </div>
                        <div class="blue-value-dollar">
                            <h4>{{btcOrEthUsdDollar}}</h4>
                            <p>USDollar</p>
                        </div>
                    </li>

                    <li>
                        <h4 class="todaytit">Today</h4>
                        <p class="todayvalue">+ 0.02</p>
                    </li>
                    <li>
                        <h4 class="todaytit">Week</h4>
                        <p class="todayvalue">+ 0.999</p>
                    </li>
                    <li>
                        <h4 class="todaytit">Month</h4>
                        <p class="todayvalue">+ 1.908</p>
                    </li>
                    <li>
                        <div class="complete-profile" *ngIf="profileShowOrHide == 0 || kycShowOrHide==1">
                            <div class="profile-comp">
                                <div class="profile-content">
                                    <h1>Complete Your Profile</h1>
                                    <p>Complete your profile today to start using your wallet successfully</p>
                                    <button type="button" class="cntinuebtn" (click)="goToSmsVerify()">Continue</button>
                                </div>
                                <div class="profile-content-logo">
                                    <img src="assets/images/logo.png" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- KYC -->
            <div class="more-info-full" *ngIf="profileShowOrHide ==0">
                <!-- <button type="button" class="closeicon">×</button> -->
                <div class="more-info-lft">
                    <h1>More Info Needed</h1>
                    <h6>We need more information to complete your profile.</h6>
                    <p>You will need verificate your cel number, a nacional identity and a selfie.</p>
                    <button type="button" class="infobtn1 info-continue" (click)="goToKyc()">Continue</button>
                    <!-- <button type="button" class="infobtn1 info-continue1">Ahora No</button> -->
                </div>
                <div class="more-info-lft1">
                    <img src="assets/images/moreinfoicon.png" />
                </div>
            </div>
            <div class="bluewallet-search-daily">
                <div class="search-dailymonth">
                    <input type="text" placeholder="Search" [(ngModel)]="searchFilter">
                    <ul class="search-mandory-list">
                        <li class="monthlist" (click)="showOrHideMonthList = !showOrHideMonthList">
                            <a class="dropdown-toggle1">{{selectedMonth}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-list-search" style="display: block;" *ngIf="showOrHideMonthList">
                                <li *ngFor="let month of monthArray" (click)="selectedMonth = month;getActivityList()">
                                    <a>{{month}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ethbtclist" (click)="showOrHideAmountMode = !showOrHideAmountMode">
                            <a class="dropdown-toggle2">{{selectedAmountMode}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-list-search2" style="display: block;" *ngIf="showOrHideAmountMode">
                                <li (click)="selectedAmountMode = 'All';getActivityList()">
                                    <a>All</a>
                                </li>
                                <li (click)="selectedAmountMode = 'Received';getActivityList()">
                                    <a>Received</a>
                                </li>
                                <li (click)="selectedAmountMode = 'Paid';getActivityList()">
                                    <a>Paid</a>
                                </li>
                                <li (click)="selectedAmountMode = 'Request';getActivityList()">
                                    <a>Request</a>
                                </li>
                                <!-- <li>
                                        <a href="javascript:void(0);">XRP</a>
                                    </li> -->
                            </ul>
                        </li>


                        <li class="ethbtclist" (click)="showOrHideCryptoType = !showOrHideCryptoType">
                            <a class="dropdown-toggle2">{{selectedCurrencyType}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-list-search2" style="display: block;" *ngIf="showOrHideCryptoType">
                                <li (click)="selectedCurrencyType = 'ETH';getActivityList()">
                                    <a>ETH</a>
                                </li>
                                <li (click)="selectedCurrencyType = 'BTC';getActivityList()">
                                    <a>BTC</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="graph-activity-wrap">
                <div class="graph-activy-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="graph-history-title">
                                <h1>Graph History</h1>
                                <div class="graph-history"
                                    *ngIf="yAxisPaidData.length != 0 && yAxisReceivedData.length != 0 && lineChartLabels.length != 0">
                                    <div style="width: 100%; height: 100%;"
                                        *ngIf="!(yAxisPaidData.length == 0) && !(yAxisReceivedData.length == 0) && !(lineChartLabels.length == 0)">
                                        <!-- <canvas id="chart"></canvas> -->
                                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                            [options]="lineChartOptions" [colors]="lineChartColors"
                                            [legend]="lineChartLegend" [chartType]="lineChartType"
                                            [plugins]="lineChartPlugins">
                                        </canvas>
                                    </div>


                                </div>
                                <div class="data-found"
                                    *ngIf="yAxisPaidData.length == 0 && yAxisReceivedData.length == 0 && lineChartLabels.length == 0">
                                    <div class="data-search">
                                        <img src="assets/images/datasearch.png">
                                        <h1>No Data Found</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="graph-history-title graph-head-story">
                                <h1>Activity</h1>
                                <div class="select-day">
                                    <select [(ngModel)]="dayWeekMonth" (change)="getActivityList()">
                                        <option value="today">Today</option>
                                        <option value="week">Week</option>
                                        <option value="month">Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="graph-activiy">
                                <div class="graph-activy-list-box" id="activyscroll">
                                    <ul>
                                        <li *ngFor="let activity of activityListArr | filter:searchFilter;let i=index;"
                                            (click)="autoFillSendDetails(activity)">
                                            <a>
                                                <div class="activity-list">
                                                    <div class="activy-paid">
                                                        <div class="activy-icon">
                                                            <img src="assets/images/paid.png"
                                                                *ngIf="activity.transactionType=='Send'">
                                                            <img src="assets/images/income.png"
                                                                *ngIf="activity.transactionType=='Received'">
                                                        </div>
                                                        <div class="activy-paid-text">
                                                            <h1>{{activity.transactionType}}</h1>
                                                            <p *ngIf="activity.transactionType=='Received'">Receipt
                                                                #:{{activity.sendby}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="activiy-count">
                                                        <span>-{{activity.amount}}</span>

                                                        <p>{{activity.Date}}</p>
                                                        <!-- <p *ngIf="activity.transactionType=='Received'">
                                                            {{activity.time}}</p> -->

                                                        <p>
                                                            {{activity.time}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="data-found" *ngIf="activityListArr.length == 0">
                                        <div class="data-search">
                                            <img src="assets/images/datasearch.png">
                                            <h1>No Data Found</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moneitation-wrap">
                <div class="moneitation-qr-code">
                    <div class="qr-code-head">
                        <div class="qr-request" [ngClass]="{'qr-bgshow':sendHighLight}">
                            <div class="request-lft">
                                <div class="qr-code-view" (click)="requestCryptoCurrency()">
                                    <img src="assets/images/qr-code.png" />
                                </div>
                                <div class="moneit-input-group1 send-cop-inputgroup">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-12 dashpadd">
                                                <div class="form-group pos-relative">
                                                    <input type="text" name="requestCryptoType"
                                                        [(ngModel)]="selectedCurrencyType" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-12 dashpadd">
                                                <div class="form-group pos-relative">
                                                    <input type="text" name="requestCryptoUsd"
                                                        placeholder="type USD here"
                                                        [(ngModel)]="requestEthOrBtcAmountUsd"
                                                        (ngModelChange)="onAutoCompleteUsdToBtcAndETh($event,'request')">

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-12 dashpadd">
                                                <div class="form-group pos-relative">
                                                    <input type="text" name="requestCryptoAmount"
                                                        placeholder="{{selectedCurrencyType}} Amount"
                                                        [(ngModel)]="requestEthOrBtcAmount">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-12 dashpadd">
                                                <div class="form-group pos-relative lastformgroup">
                                                    <input type="text" placeholder="Write here your wallet code"
                                                        name="walletAddressRequest" [(ngModel)]="requestWalletAddress">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- <div class="inputtype-moneit">
                                        <input type="text" placeholder="COP">
                                        <span>Min. 0.0124</span>
                                    </div>
                                    <div class="inputtype-moneit">
                                        <input type="text" placeholder="ETH">
                                        <span>Min. 0.0124</span>
                                    </div> -->
                                </div>
                                <div class="qr-rezt-btn">
                                    <button type="button" class="qr-request-btn" (click)="requestBtcOrEth()">Request
                                        <img src="assets/images/receiveicon.png">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="qr-send" [ngClass]="{'qr-bgshow':requestHighLight}">
                            <div class="send-right">
                                <div class="qr-rezt-btn">
                                    <button type="button" class="qr-request-btn" (click)="sendCryptoCurreny()">Send
                                        <img src="assets/images/sendicon.png">
                                    </button>
                                </div>
                                <div class="send-cop-inputgroup">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-12 dashpadd">
                                                <div class="form-group pos-relative">
                                                    <input type="text" name="sendCryptoType"
                                                        [(ngModel)]="selectedCurrencyType" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-12 dashpadd">
                                                <div class="form-group pos-relative">
                                                    <input type="text" name="sendCryptoUsd" placeholder="type USD here"
                                                        [(ngModel)]="sendEthOrBtcAmountUsd"
                                                        (ngModelChange)="onAutoCompleteUsdToBtcAndETh($event,'send')">

                                                    <!-- <span>Min. 0.0124</span> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-12 dashpadd">
                                                <div class="form-group pos-relative">
                                                    <input type="text" name="sendCryptoAmount"
                                                        placeholder="{{selectedCurrencyType}} Amount"
                                                        [(ngModel)]="sendEthOrBtcAmount">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-12 dashpadd">
                                                <div class="form-group pos-relative lastformgroup">
                                                    <input type="text" placeholder="Write here your wallet code"
                                                        name="walletAddressSend" [(ngModel)]="sendWalletAddress">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="bgoverlay" *ngIf="overlayClassShowOrHide"
                            (click)="overlayClassShowOrHide=!overlayClassShowOrHide"></div>
                    </div>
                    <div class="moenit-code-verify">
                        <p>Remember verify the amount to transfer.</p>
                        <p>Once the transfer its done , there’s not possibility of return.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Successfull Message -->
<div class="congratulation-popup" style="display: none;">
    <div class="message-modal">
        <div class="modal-centered">
            <div class="successful-message">
                <div class="message-view">
                    <img src="assets/images/tick.png" />
                    <div class="mess-content">
                        <p>Ether transferred successfully...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Successfull Message -->
<div class="congratulation-popup" style="display: none;">
    <div class="message-modal">
        <div class="modal-centered">
            <div class="successful-message">
                <div class="message-view blueways-amount">
                    <img src="assets/images/tick.png" />
                    <div class="mess-content">
                        <p>Blueways informs that has entered an amount of</p>
                        <h6>0,0145 ETH</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- QR CODE MODAL -->
<div class="qr-code-scanning" *ngIf="qrCodeModalShowOrHide">
    <div class="qr-code-div">
        <div class="qrcode-center">
            <div class="code-qr-scan">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="qrCodeModalShowOrHide=!qrCodeModalShowOrHide;qrCodeClassShowOrHide=!qrCodeClassShowOrHide;">
                    &times;
                </button>
                <div class="qr-scan-amount">
                    <h1>{{selectedCurrencyType}} Amount</h1>
                    <p>{{qrCodeAmount}}</p>
                </div>
                <div class="amout-qrcode-scan">
                    <img [src]="qrImgSrc" />
                </div>
                <div class="qrcode-foot">
                    <button type="button" class="copyallbtn"
                        (click)="copyToClipboard(qrWalletAddress)">{{copied}}</button>
                    <input type="text" [(ngModel)]="qrWalletAddress" disabled #walletAddress>
                </div>
            </div>
        </div>
    </div>
</div>