<div class="bluewallet-dashboard-fullwrap">
    <!-- Dashboard Header -->
   
    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <div class="profile-setting-sidebar primaryscroll" id="boxscroll1">
            <div class="profile-setting">
                <div class="setting-image">
                    <img src="assets/images/profile.jpg" alt="image" />
                </div>
            </div>
            <div class="platform-user-tabs">
                <div class="platuser-tabs">
                    <ul>
                        <li>
                            <a class="plataform-link active" href="javascript:void(0);">Plataform</a>
                        </li>
                        <li>
                            <a class="users-link" href="javascript:void(0);">Users</a>
                        </li>
                    </ul>
                    <div class="platform-content">
                        <ul>
                            <li>
                                <a class="" href="javascript:void(0);">
                                    <span class="userwalleticon user-wallet-img4"></span>
                                    Exchange
                                </a>
                            </li>
                            <li>
                                <a class="" href="javascript:void(0);">
                                    <span class="userwalleticon user-wallet-img2"></span>
                                    History
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wallet-eth-list">
                <div class="info">
                    <a href="javascript:void(0);" class="infobtn">Information</a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">ETH
                                <img src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">435 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTC
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">20.000 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">XRP
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bluewallet Body -->
    <div class="bluewallet-body-wrap">
        <div class="bluewallet-fast-buysell">
            <div class="fastbuysell-tab-content">
                <div class="fast-buy-list">
                    <div class="buy-paypal">
                        <div class="paypal-input-group">
                            <input type="text" />
                            <span>Min. 0.0124</span>
                            <div class="list-cop">
                                <a href="javascript:void(0);">COP
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="list-cop-dropdown">
                                    <li>
                                        <a href="javascript:void(0);">
                                            ETH
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            BTC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            COP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="paypal-input-group">
                            <div class="payment-search">
                                <button type="type" class="searchbtn">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="payment-method-card">
                        <div class="exchange-wraper">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div class="exchange-onebox">
                                        <div class="exhcange-icon buy-view-card">
                                            <div class="buy-icon-blue">
                                                <img src="assets/images/user-wallet-icon.png">
                                                <h4>Buy</h4>
                                            </div>
                                        </div>
                                        <div class="exchange-body">
                                            <div class="exchange-coin">
                                                <div class="coin-transfer-exchange">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-5 col-md-5 col-12">
                                                            <div class="transfer-bitcoin">
                                                                <a class="bitoicnlink" href="javascript:void(0);">
                                                                    <img src="assets/images/bitcoin-icon.png" />
                                                                    <span>Bitcoin</span>
                                                                </a>
                                                                <div class="coin-list-view">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/bitcoin-icon.png" />
                                                                                <span>Bitcoin</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/etherium-icon.png" />
                                                                                <span>Ethereum</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12">
                                                            <div class="exchange-icn-center">
                                                                <img src="assets/images/exchange-icon.png" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-12">
                                                            <div class="transfer-bitcoin">
                                                                <a class="bitoicnlink1" href="javascript:void(0);">
                                                                    <img src="assets/images/etherium-icon.png" />
                                                                    <span>Ethereum</span>
                                                                </a>
                                                                <div class="coin-list-view1">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/bitcoin-icon.png" />
                                                                                <span>Bitcoin</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/etherium-icon.png" />
                                                                                <span>Ethereum</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exchange-dollar">
                                                    <div class="exchange-dol-value">
                                                        <h1>$ 0</h1>
                                                        <p>0.00 BTC</p>
                                                    </div>
                                                </div>
                                                <div class="minmax-value">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12 col-12">
                                                            <div class="minmax-val-box">
                                                                <input type="text">
                                                                <span class="minval">Min</span>
                                                                <span class="maxval">0.0124</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12 col-12">
                                                            <div class="minmax-val-box">
                                                                <input type="text">
                                                                <span class="minval">Max</span>
                                                                <span class="maxval">0.0124</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exchange-bttn-group">
                                                    <button type="button" class="exchangebttn">EXCHANGE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div class="exchange-list-show">
                                        <div class="buy-view-card1">
                                            <div class="buy-transfer-scrol" id="transferscroll">
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button" class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--fastbuy-popup-->
<div class="wantbuy-bluewallet" style="display: none;">
    <div class="wantbuy-pop-center">
        <div class="buy-bluewt-div">
            <div class="wantbuy-paypal-title">
                <h1>How much you want to buy?</h1>
            </div>
            <div class="wantbuy-droplist">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="droplist-fastbuy">
                            <input type="text">
                            <span>Min. 0.0124</span>
                            <div class="list-cop1">
                                <a href="javascript:void(0);">COP
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="list-cop-dropdown">
                                    <li>
                                        <a href="javascript:void(0);">
                                            ETH
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            BTC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            COP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="droplist-fastbuy1">
                            <a href="javascript:void(0);">Paypal</a>
                            <ul class="pay-methd-1">
                                <li>
                                    <a href="javascript:void(0);">
                                        Paypal
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        Paypal
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        Paypal
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wantbuy-body-form">
                <ul>
                    <li>
                        <div class="form-user-list">
                            <label>User</label>
                            <span>Yotemplario
                                <sup>500+</sup>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="form-user-list">
                            <label>Price</label>
                            <span>15,650,000.00 COP </span>
                        </div>
                    </li>
                    <li>
                        <div class="form-user-list">
                            <label>Country</label>
                            <span>Colombia</span>
                        </div>
                    </li>
                    <li>
                        <div class="form-user-list">
                            <label>Comercial Limits</label>
                            <span>100,00 - 1,000,000 COP</span>
                        </div>
                    </li>
                    <li>
                        <div class="form-user-list">
                            <label>Title</label>
                            <span>Bank Transfer.</span>
                        </div>
                    </li>
                    <li>
                        <div class="form-user-list">
                            <label>Description</label>
                            <span>Details of transfer.</span>
                        </div>
                    </li>
                </ul>
                <div class="sen-req">
                    <button type="button" class="sendrequestbtn">Send Request </button>
                </div>
            </div>
        </div>
    </div>
</div>

