<div class="bluewallet-dashboard-fullwrap">
    
    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <div class="profile-setting-sidebar primaryscroll" id="boxscroll1">
            <div class="profile-setting">
                <div class="setting-image">
                    <img src="assets/images/profile.jpg" alt="image" />
                </div>
            </div>
            <div class="platform-user-tabs">
                <div class="platuser-tabs">
                    <ul>
                        <li>
                            <a class="plataform-link" href="javascript:void(0);">Plataform</a>
                        </li>
                        <li>assets/
                            <a class="users-link active" href="javascript:void(0);">Users</a>
                        </li>
                    </ul>
                    <div class="platform-content">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="userwalleticon user-wallet-img"></span>
                                    Buy
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="userwalleticon user-wallet-img1"></span>
                                    Sell
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="userwalleticon user-wallet-img2"></span>
                                    Publicactions
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wallet-eth-list">
                <div class="info">
                    <a href="javascript:void(0);" class="infobtn">Information</a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">ETH
                                <img src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">435 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTC
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">20.000 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">XRP
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bluewallet Body -->
    <div class="bluewallet-body-wrap">
        <div class="bluewallet-fast-buysell">
            <div class="fastbuysell-tab-link">
                <ul>
                    <li>
                        <a class="fastbuy active" href="javascript:void(0);">Fast Buy</a>
                    </li>
                    <li>
                        <a class="fastsell" href="javascript:void(0);">Fast Sell</a>
                    </li>
                </ul>
            </div>
            <div class="fastbuysell-tab-content">
                <div class="fast-buy-list" id="fastbuyview">
                    <div class="buy-paypal">
                        <div class="paypal-input-group">
                            <input type="text" />
                            <span>Min. 0.0124</span>
                            <div class="list-cop">
                                <a href="javascript:void(0);">COP
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="list-cop-dropdown">
                                    <li>
                                        <a href="javascript:void(0);">
                                            ETH
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            BTC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            COP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="paypal-input-group">
                            <div class="select-group-pay">
                                <a href="javascript:void(0);">
                                    Paypal
                                </a>
                                <ul class="payment-method" id="activyscroll">
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal-1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal-2
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="paypal-input-group">
                            <div class="payment-search">
                                <button type="type" class="searchbtn">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="payment-method-card">
                        <div class="buy-sell-card">
                            <div class="buy-view-card">
                                <div class="buy-icon-blue">
                                    <img src="assets/images/user-wallet-icon.png" />
                                    <h4>Buy</h4>
                                </div>
                                <div class="blue-buy-viewbody">
                                    <div class="buy-fraction">
                                        <ul>
                                            <li>
                                                <label>Fractions</label>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <label>Fraction Value</label>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <label>Market rate</label>
                                                <div class="si-no-toggle">
                                                    <div class="toggleWrapper">
                                                        <input type="checkbox" id="rate" class="dn">
                                                        <label for="rate" class="toggle">
                                                            <span class="toggle__handler"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label>Min. Value</label>
                                                <span>0.000</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="buy-payment-mthodadd">
                                        <a class="addpayment-mthd" href="javascript:void(0);">Payment Method
                                            <img src="assets/images/plusadd.png" />
                                        </a>
                                        <div class="payment-card-details">
                                            <div class="card-details-view">
                                                <div class="card-bgimage">
                                                    <div class="card-currency">
                                                        <div class="currency-view">
                                                            <h4>Currency</h4>
                                                            <p>BTC</p>
                                                        </div>
                                                        <div class="currency-view">
                                                            <h4>Title</h4>
                                                            <p>Transf. Bank</p>
                                                        </div>
                                                        <div class="currency-view">
                                                            <h4>Plataform</h4>
                                                            <p>Paypal</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-currency">
                                                        <div class="currency-view">
                                                            <h4>Description</h4>
                                                            <p>Details of transfer</p>
                                                        </div>
                                                        <div class="currency-view">
                                                            <h4>Country</h4>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accept-terms-cond">
                                                <div class="accept-cont">
                                                    <p>Accept terms and conditions</p>
                                                    <div class="accet-toggle">
                                                        <label class="label">
                                                            <div class="toggle">
                                                                <input class="toggle-state" type="checkbox" name="check" value="check">
                                                                <div class="toggle-inner">
                                                                    <div class="indicator"></div>
                                                                </div>
                                                                <div class="active-bg"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-view-card">
                                <div class="buy-icon-blue">
                                    <img src="assets/images/user-wallet-icon1.png" />
                                    <h4>Sell</h4>
                                </div>
                                <div class="blue-buy-viewbody">
                                    <div class="buy-fraction">
                                        <ul>
                                            <li>
                                                <label>Fractions</label>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <label>Fraction Value</label>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <label>Market rate</label>
                                                <div class="si-no-toggle">
                                                    <div class="toggleWrapper">
                                                        <input type="checkbox" id="rate1" class="dn">
                                                        <label for="rate1" class="toggle">
                                                            <span class="toggle__handler"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label>Min. Value</label>
                                                <span>0.000</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="buy-payment-mthodadd">
                                        <a class="addpayment-mthd" href="javascript:void(0);">Payment Method
                                            <img src="assets/images/plusadd.png" />
                                        </a>
                                        <div class="payment-card-details">
                                            <div class="card-details-view">
                                                <div class="card-bgimage">
                                                    <div class="card-currency">
                                                        <div class="currency-view">
                                                            <h4>Currency</h4>
                                                            <p>BTC</p>
                                                        </div>
                                                        <div class="currency-view">
                                                            <h4>Title</h4>
                                                            <p>Transf. Bank</p>
                                                        </div>
                                                        <div class="currency-view">
                                                            <h4>Plataform</h4>
                                                            <p>Paypal</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-currency">
                                                        <div class="currency-view">
                                                            <h4>Description</h4>
                                                            <p>Details of transfer</p>
                                                        </div>
                                                        <div class="currency-view">
                                                            <h4>Country</h4>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accept-terms-cond">
                                                <div class="accept-cont">
                                                    <p>Accept terms and conditions</p>
                                                    <div class="accet-toggle">
                                                        <label class="label">
                                                            <div class="toggle">
                                                                <input class="toggle-state" type="checkbox" name="check" value="check">
                                                                <div class="toggle-inner">
                                                                    <div class="indicator"></div>
                                                                </div>
                                                                <div class="active-bg"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-view-card1">
                                <div class="buy-transfer-scrol" id="transferscroll">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="transfer-buy-list">
                                                    <div class="bank-transfer">
                                                        <h1>Dan23
                                                            <sup>100+</sup>
                                                        </h1>
                                                        <span>Bank Transfer</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <h1>90.000
                                                        </h1>
                                                        <span>COP</span>
                                                    </div>
                                                    <div class="bank-transfer">
                                                        <button type="button" class="banktrnsfbtn btn-default">Buy</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="fast-sell-list" id="fastsellview" style="display: none;">
                    Sell
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Successfull Message -->
<div class="congratulation-popup" style="display:none;">
    <div class="message-modal">
        <div class="modal-centered">
            <div class="successful-message">
                <div class="message-view">
                    <img src="assets/images/tick.png" />
                    <div class="mess-content">
                        <p>Your new Vault was added succefully</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

