<div class="bluewallet-dashboard-fullwrap">
    <!-- Dashboard Header -->

    <!-- Bluewallet-second-sidebar -->
    <div class="bluewallet-profile-sidebar">
        <div class="profile-setting-sidebar primaryscroll" id="boxscroll1">
            <div class="profile-setting">
                <div class="setting-image">
                    <img src="assets/images/profile.jpg" alt="image" />
                </div>
            </div>
            <div class="platform-user-tabs">
                <div class="platuser-tabs">
                    <ul>
                        <li>
                            <a class="plataform-link active" href="javascript:void(0);">Plataform</a>
                        </li>
                        <li>
                            <a class="users-link" href="javascript:void(0);">Users</a>
                        </li>
                    </ul>
                    <div class="platform-content">
                        <ul>
                            <li>
                                <a [ngClass]="{'active':exchangeAndHistroyShowOrHide}" (click)="exchangeTabSelected()">
                                    <span class="userwalleticon user-wallet-img4"></span>
                                    Exchange
                                </a>
                            </li>
                            <li>
                                <a [ngClass]="{'active':!exchangeAndHistroyShowOrHide}" (click)="historyTabSlected()">
                                    <span class="userwalleticon user-wallet-img2"></span>
                                    History
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wallet-eth-list">
                <div class="info">
                    <a href="javascript:void(0);" class="infobtn">Information</a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">ETH
                                <img src="assets/images/downarrowred.png" />
                            </span>
                            <span class="wal-amt">435 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">BTC
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">20.000 $</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="wal-eth">XRP
                                <img src="assets/images/uparrowgreen.png" />
                            </span>
                            <span class="wal-amt">200 $</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bluewallet Body -->
    <div class="bluewallet-body-wrap">
        <div class="bluewallet-fast-buysell">
            <div class="fastbuysell-tab-content">
                <div class="fast-buy-list">
                    <div class="buy-paypal">
                        <div class="paypal-input-group">
                            <input type="text" />
                            <span>Min. 0.0124</span>
                            <div class="list-cop">
                                <a href="javascript:void(0);">COP
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="list-cop-dropdown">
                                    <li>
                                        <a href="javascript:void(0);">
                                            ETH
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            BTC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            COP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="paypal-input-group">
                            <div class="payment-search">
                                <button type="type" class="searchbtn">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="payment-method-card">
                        <!-- EXCHANGE -->
                        <div class="exchange-wraper" *ngIf="exchangeAndHistroyShowOrHide">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div class="exchange-onebox">
                                        <div class="exhcange-icon buy-view-card">
                                            <div class="buy-icon-blue">
                                                <img src="assets/images/user-wallet-icon.png">
                                                <h4>Buy</h4>
                                            </div>
                                        </div>
                                        <div class="exchange-body">
                                            <div class="exchange-coin">
                                                <div class="coin-transfer-exchange">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-5 col-md-5 col-12">
                                                            <div class="transfer-bitcoin">
                                                                <a class="bitoicnlink" id="bitoicnlink"
                                                                    href="javascript:void(0);">
                                                                    <img src="assets/images/bitcoin-icon.png"
                                                                        *ngIf="lhsBtcShowOrHide">
                                                                    <span *ngIf="lhsBtcShowOrHide">Bitcoin</span>


                                                                    <img src="assets/images/etherium-icon.png"
                                                                        *ngIf="!lhsBtcShowOrHide">
                                                                    <span *ngIf="!lhsBtcShowOrHide">Ethereum</span>
                                                                </a>
                                                                <!-- <div class="coin-list-view">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/bitcoin-icon.png" />
                                                                                <span>Bitcoin</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/etherium-icon.png" />
                                                                                <span>Ethereum</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-12"
                                                            (click)="changeBtcToEthAndViceVersa()">
                                                            <div class="exchange-icn-center">
                                                                <img src="assets/images/exchange-icon.png" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-12">
                                                            <div class="transfer-bitcoin">
                                                                <a class="bitoicnlink1" id="bitoicnlink1"
                                                                    href="javascript:void(0);">
                                                                    <img src="assets/images/etherium-icon.png"
                                                                        *ngIf="rhsEtherShowOrHide">
                                                                    <span *ngIf="rhsEtherShowOrHide">Ethereum</span>

                                                                    <img src="assets/images/bitcoin-icon.png"
                                                                        *ngIf="!rhsEtherShowOrHide">
                                                                    <span *ngIf="!rhsEtherShowOrHide">Bitcoin</span>
                                                                </a>
                                                                <!-- <div class="coin-list-view1">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/bitcoin-icon.png" />
                                                                                <span>Bitcoin</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:void(0);">
                                                                                <img src="assets/images/etherium-icon.png" />
                                                                                <span>Ethereum</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exchange-dollar">
                                                    <div class="exchange-dol-value">
                                                        <input type="text" placeholder="$ 0"
                                                            [(ngModel)]="usdToBtcAndEth"
                                                            (ngModelChange)="onAutoCompleteUsdToBtcAndETh()">
                                                        <p>{{calculatedBtcOrEth}} {{whetherBtcOrEth}}</p>
                                                    </div>
                                                </div>
                                                <div class="minmax-value">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12 col-12">
                                                            <div class="minmax-val-box">
                                                                <!-- <input type="text"> -->
                                                                <label class="minval">Min</label>
                                                                <span class="maxval">{{minimumBtcOrEthValue}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12 col-12">
                                                            <div class="minmax-val-box">
                                                                <!-- <input type="text"> -->
                                                                <label class="minval">Max</label>
                                                                <span class="maxval">{{maximumBtcOrEthValue}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exchange-bttn-group">
                                                    <button type="button" class="exchangebttn"
                                                        (click)="onExchangeBtcToEth()">EXCHANGE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div class="exchange-list-show">
                                        <div class="buy-view-card1">
                                            <div class="buy-transfer-scrol" id="transferscroll">
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>

                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <div class="transfer-buy-list">
                                                                <div class="bank-transfer">
                                                                    <h1>Dan23
                                                                        <sup>100+</sup>
                                                                    </h1>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <h1>90.000
                                                                    </h1>
                                                                    <span>COP</span>
                                                                </div>
                                                                <div class="bank-transfer">
                                                                    <button type="button"
                                                                        class="banktrnsfbtn btn-default btngrad">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- HISTORY -->
                        <div class="fastbuysell-tab-content" *ngIf="!exchangeAndHistroyShowOrHide">
                            <div class="fast-buy-list">
                                <div class="buy-paypal history-buy-paypal">
                                    <div class="paypal-input-group history-requests">
                                        <input type="text" placeholder="Requests" />
                                    </div>
                                    <!-- <div class="paypal-input-group">
                                        <input type="text" />
                                        <span>Min. 0.0124</span>
                                        <div class="list-cop">
                                            <a href="javascript:void(0);">COP
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </a>
                                            <ul class="list-cop-dropdown">
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        ETH
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        BTC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        COP
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="paypal-input-group">
                                        <div class="payment-search">
                                            <button type="type" class="searchbtn">Search</button>
                                        </div>
                                    </div>
                                </div> -->
                                    <div class="history-reusts-list">
                                        <div class="history-list-scroll">
                                            <div id="accordion">
                                                <div class="card"
                                                    *ngFor="let historyObj of historyTabUserListArr;let i = index;"
                                                    (click)="onUnActivePrevious(i)"
                                                    [ngClass]="{'active':historyObj.active}">
                                                    <div class="card-header">

                                                        <a class="history-head-panel" data-toggle="collapse"
                                                            href="#h{{i}}" aria-expanded="false">
                                                            <div class="history-panel-lft">
                                                                <img src="assets/images/paid.png"
                                                                    *ngIf="historyObj.status == 0">
                                                                <img src="assets/images/paid-green.png"
                                                                    *ngIf="historyObj.status == 1">
                                                                <div class="user-history">
                                                                    <h1>{{historyObj.userName}}</h1>
                                                                    <ul>
                                                                        <li>
                                                                            <a>{{historyObj.date1}}
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a
                                                                                *ngIf="historyObj.status == 1">Available</a>
                                                                            <a
                                                                                *ngIf="historyObj.status == 0">Finished</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="history-panel-rht">
                                                                <h4>{{currentEthValue}} ETH</h4>
                                                                <p>{{currentBtcValue}} BTC</p>
                                                            </div>
                                                        </a>

                                                    </div>

                                                    <div id="h{{i}}" class="collapse" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="history-body-panel">
                                                                <ul>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <h4>Amount To Trade</h4>
                                                                            <p>{{historyObj.amountToTrade}} BTC</p>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <h4>Amount You Get</h4>
                                                                            <p>{{historyObj.amountYouGet}} ETH</p>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <div class="trade_fee_total">
                                                                                <h4>Fee</h4>
                                                                                <h4>TOTAL</h4>
                                                                            </div>
                                                                            <div class="trade_fee_total">
                                                                                <p>{{historyObj.transactionFee}} BTC</p>
                                                                                <p>{{historyObj.totalAmount}} BTC</p>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <h4>Details</h4>
                                                                            <p>RENT MONEY</p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="history-exchange-bttn">
                                                                    <button type="button"
                                                                        class="hisexchange_btn">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Card - 2 -->
                                                <!-- <div class="card">
                                                    <div class="card-header" id="historycollapse2">
                                                        <h5 class="mb-0">
                                                            <div class="history-head-panel" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                                <div class="history-panel-lft">
                                                                    <img src="assets/images/paid-green.png">
                                                                    <div class="user-history">
                                                                        <h1>User 132</h1>
                                                                        <ul>
                                                                            <li>
                                                                                <a href="javascript:void(0);">Feb 23, 2019
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript:void(0);">Available</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="history-panel-rht">
                                                                    <h4>6 ETH</h4>
                                                                    <p>1 BTC</p>
                                                                </div>
                                                            </div>

                                                        </h5>
                                                    </div>

                                                    <div id="collapse2" class="collapse" aria-labelledby="historycollapse2" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="history-body-panel">
                                                                <ul>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <h4>Amount To Trade</h4>
                                                                            <p>0.5 BTC</p>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <h4>Amount You Get</h4>
                                                                            <p>3 ETH</p>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <div class="trade_fee_total">
                                                                                <h4>Fee</h4>
                                                                                <h4>TOTAL</h4>
                                                                            </div>
                                                                            <div class="trade_fee_total">
                                                                                <p>0.05 BTC</p>
                                                                                <p>0.05 BTC</p>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="amounttrade">
                                                                            <h4>Details</h4>
                                                                            <p>RENT MONEY</p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="history-exchange-bttn">
                                                                    <button type="button" class="hisexchange_btn">Exchange</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- History -->
                <!-- <div class="fastbuysell-tab-content">
                <div class="fast-buy-list">
                    <div class="buy-paypal history-buy-paypal">
                        <div class="paypal-input-group history-requests">
                            <input type="text" placeholder="Requests" />
                        </div>
                        <div class="paypal-input-group">
                            <input type="text" />
                            <span>Min. 0.0124</span>
                            <div class="list-cop">
                                <a href="javascript:void(0);">COP
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="list-cop-dropdown">
                                    <li>
                                        <a href="javascript:void(0);">
                                            ETH
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            BTC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            COP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="paypal-input-group">
                            <div class="payment-search">
                                <button type="type" class="searchbtn">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="history-reusts-list">
                        <div class="history-list-scroll">
                            
                        </div>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </div>

    <!--fastbuy-popup-->
    <div class="wantbuy-bluewallet" style="display: none;">
        <div class="wantbuy-pop-center">
            <div class="buy-bluewt-div">
                <div class="wantbuy-paypal-title">
                    <h1>How much you want to buy?</h1>
                </div>
                <div class="wantbuy-droplist">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="droplist-fastbuy">
                                <input type="text">
                                <span>Min. 0.0124</span>
                                <div class="list-cop1">
                                    <a href="javascript:void(0);">COP
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="list-cop-dropdown">
                                        <li>
                                            <a href="javascript:void(0);">
                                                ETH
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                BTC
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                COP
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="droplist-fastbuy1">
                                <a href="javascript:void(0);">Paypal</a>
                                <ul class="pay-methd-1">
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            Paypal
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wantbuy-body-form">
                    <ul>
                        <li>
                            <div class="form-user-list">
                                <label>User</label>
                                <span>Yotemplario
                                    <sup>500+</sup>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Price</label>
                                <span>15,650,000.00 COP </span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Country</label>
                                <span>Colombia</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Comercial Limits</label>
                                <span>100,00 - 1,000,000 COP</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Title</label>
                                <span>Bank Transfer.</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-user-list">
                                <label>Description</label>
                                <span>Details of transfer.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="sen-req">
                        <button type="button" class="sendrequestbtn">Send Request </button>
                    </div>
                </div>
            </div>
        </div>
    </div>