<div class="bluewallet-profile-sidebar">
  <div class="profile-setting-sidebar primaryscroll" id="boxscroll1">
      <div class="select-wallet">
          <h1>Select your Wallet</h1>
          <ul class="walletlist-slider">
              <li>
                  <a href="javascript:void(0);">
                      <h2>Wallet 1</h2>
                      <img src="assets/images/wallet.jpg" />
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <h2>Wallet 2</h2>
                      <img src="assets/images/wallet1.jpg" />
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <h2>Wallet 3</h2>
                      <img src="assets/images/wallet.jpg" />
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <h2>Wallet 4</h2>
                      <img src="assets/images/wallet.jpg" />
                  </a>
              </li>

          </ul>
      </div>
      <div class="select-your-cryptocurrency">
          <h1>Select your cryptocurrency</h1>
          <ul>
              <li>
                  <a class="" href="javascript:void(0);">
                      <h1>Monero</h1>
                      <!-- <img src="images/monero.png" /> -->
                      <span class="smallcrpt small-img-big"></span>
                  </a>
              </li>
              <li>
                  <a class="active" href="javascript:void(0);">
                      <h1>Ethereum</h1>
                      <!-- <img src="images/etherium.png" /> -->
                      <span class="smallcrpt small-img-big1"></span>
                  </a>
              </li>
              <li>
                  <a class="" href="javascript:void(0);">
                      <h1>Bitcoin</h1>
                      <!-- <img src="images/bitcoin.png" /> -->
                      <span class="smallcrpt small-img-big2"></span>
                  </a>
              </li>
          </ul>
          <div class="crypto-currency-wallet">
              <h1>Balance</h1>
              <div class="etherum-blance">
                  <h2>2.806600</h2>
                  <div class="etherum-usdolar">
                      <p>880.660</p>
                      <div class="bal-exchange-dollar">
                          <select>
                              <option value="usdollar">USDollar</option>
                              <option value="usdollar1">USDollar</option>
                              <option value="usdollar2">USDollar</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="refresh-btn">
                  <a href="javascript:void(0);">
                      <img src="assets/images/refresh.png" />
                  </a>
              </div>
              <div class="send-receive-bttngrup">
                  <button type="button" class="sendbtn">Send
                      <img src="assets/images/sendicon.png" />
                  </button>
                  <button type="button" class="requestbtn" (click)="qrCodeModalOpenOrClose()">Request
                      <img src="assets/images/receiveicon.png" />
                  </button>
              </div>
              <div class="info">
                  <a href="javascript:void(0);" class="infobtn">Information</a>
              </div>
          </div>
      </div>
      <div class="wallet-eth-list">
          <ul>
              <li>
                  <a href="javascript:void(0);">
                      <span class="wal-eth">ETH
                          <img src="assets/images/downarrowred.png" />
                      </span>
                      <span class="wal-amt">435 $</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <span class="wal-eth">BTC
                          <img src="assets/images/uparrowgreen.png" />
                      </span>
                      <span class="wal-amt">20.000 $</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <span class="wal-eth">XRP
                          <img src="assets/images/uparrowgreen.png" />
                      </span>
                      <span class="wal-amt">200 $</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>
<router-outlet></router-outlet>


<!-- QR CODE MODAL -->
<div class="qr-code-scanning" *ngIf="qrCodeModalShowOrHide">
        <div class="qr-code-div">
            <div class="qrcode-center">
                <div class="code-qr-scan">
                    <div class="qr-scan-amount">
                        <h1>Amount</h1>
                        <p>0.00173466</p>
                    </div>
                    <div class="amout-qrcode-scan">
                        <img src="assets/images/scancode.png" />
                    </div>
                    <div class="qrcode-foot">
                        <button type="button" class="copyallbtn">Copy All</button>
                        <input type="text" placeholder="3DKsjshGSKJsgkgSs54SFu5sdS76F...">
                    </div>
                </div>
            </div>
        </div>
    </div>