<div class="bluewallet-dashboard-fullwrap">

  <div class="bluewallet-profile-sidebar">
    <perfect-scrollbar class="profile-setting-sidebar primaryscroll" id="boxscroll1">
      <div class="profile-setting-wallet">
        <div class="profile-setting">
          <div class="setting-image">
            <img src="assets/images/profile.jpg" alt="image" />
            <a class="notify-icon" href="javascript:void(0);">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span></span>
            </a>
            <div class="notification-view" style="display:none;"> 
              <div class="notification-view-title">
                <h1>Notiﬁcations</h1>
                <img src="assets/images/email-icon.png" />
              </div>
              <ul>
                <li>
                  <div class="notify-mesg">
                    <p>
                      <span>Dan23
                        <sup>100+</sup>
                      </span>
                      Accept your solicitude of sell</p>
                    <a href="javascript:void(0);">
                      Contact
                    </a>
                  </div>
                </li>
                <li>
                  <div class="notify-mesg">
                    <p>
                      <span>Dan23
                        <sup>100+</sup>
                      </span>
                      Accept your solicitude of sell</p>
                    <a href="javascript:void(0);">
                      Contact
                    </a>
                  </div>
                </li>
                <li>
                  <div class="notify-mesg">
                    <p>
                      Blueways informs that your received</p>
                    <a href="javascript:void(0);">
                      See
                    </a>
                  </div>
                </li>
                <li>
                  <div class="notify-mesg">
                    <p>Your paid has been conﬁrmated!</p>
                    <a href="javascript:void(0);">
                      See
                    </a>
                  </div>
                </li>
                <li class="seenotify">
                  <div class="notify-mesg">
                    <p>
                      <span>Dan23
                        <sup>100+</sup>
                      </span>
                      Accept your solicitude of sell</p>
                    <a href="javascript:void(0);">
                      Contact
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bluewallet-balance">
          <div class="balance-wallet">
            <div class="balance-count">
              <div class="bal-totle-count text-center">
                <h1>Balance</h1>
                <p>2.806600</p>
              </div>
              <div class="bal-dollar">
                <h2>880.660</h2>
                <div class="bal-exchange-dollar">
                  <select>
                    <option value="usdollar">USDollar</option>
                    <option value="usdollar1">USDollar</option>
                    <option value="usdollar2">USDollar</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wallet-eth-list">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <span class="wal-eth">ETH
                <img src="assets/images/downarrowred.png" />
              </span>
              <span class="wal-amt">435 $</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="wal-eth">BTC
                <img src="assets/images/uparrowgreen.png" />
              </span>
              <span class="wal-amt">20.000 $</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="wal-eth">XRP
                <img src="assets/images/uparrowgreen.png" />
              </span>
              <span class="wal-amt">200 $</span>
            </a>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="bluewallet-body-wrap">
    <div class="kycview-form">
      <div class="backlink">
        <a href="javascript:void(0);">Back</a>
      </div>
      <div class="kyc-viewform">
        <div class="kyc-view-title">
          <h1>KYC-View</h1>
        </div>
        <div class="kyc-form-upload">
          <div class="kyc-form-title">
            <h1>Passport</h1>
          </div>
          <div class="kyc-list-selfie">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <div class="kyc-selfie-box">
                  <div class="kycbg-box">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                      <img alt="image" src="assets/images/wallet.jpg" />
                    </a>
                  </div>
                  <h4>Selfie</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <div class="kyc-selfie-box">
                  <div class="kycbg-box">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                      <img alt="image" src="assets/images/wallet.jpg" />
                    </a>
                  </div>
                  <h4>Front</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <div class="kyc-selfie-box">
                  <div class="kycbg-box">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                      <img alt="image" src="assets/images/wallet.jpg" />
                    </a>
                  </div>
                  <h4>Back</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <div class="kyc-selfie-box">
                  <div class="kycbg-box">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#kycview">
                      <img alt="image" src="assets/images/wallet.jpg" />
                    </a>
                  </div>
                  <h4>Selfie Document</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kyc-popup">
  <div class="modal fade" id="kycview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Selfie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="kyc-view-image">
            <img src="assets/images/wallet.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>